- title 'Access already granted'

- content_for :title do
  %h1 Access already granted

%p
  Good news!
%p
  = "You already have access to the account “#{truncate(@invite_account.name, :length => 40)}” on easyBacklog."

%p
  = link_to "Go to “#{truncate(@invite_account.name, :length => 40)}” account", account_path(@invite_account), :class => 'button'