table {
  &.admin-data, &.people, &.cron-jobs {
    th {
      padding: 5px;
      font-weight: bold;
    }
    td {
      padding: 5px;
      border-top: 1px solid #CCC;
    }
  }
}

.back {
  float: right;
}