$add-button-color: green;
$delete-link-color: darken(red, 20%);
$stats-bg-color: #EEE;
$table-first-col-width: 88%;
$backlog-horizontal-padding: 5px;

@mixin table-col($width) {
  width: $width * 100% / $table-first-col-width; /* all story elements use up % of total width as embedded in another elem */
  float: left;
  &>div {
    margin: 0 0 1px 1px;
    padding: 2px;
    border: 1px solid #DDD;
  }
}

@mixin table-head($width) {
  background-color: #DDD;
  width: $width;
  float: left;
  margin: 0;
  &>div {
    padding: 3px 3px 1px 5px;
    border-right: 1px solid white;
  }
}

@mixin editable-field {
  &:hover {
    background-color: darken($title-area-color,7.5%);
  }
}

/* on the backlog page we need to move the header to a fixed position */
header.for-backlog {
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  .padded-container {
    overflow: hidden;
    margin-right: $ninesixty-gutter-width * 2;
  }
}
/* hide the drop shadow on main content area for backlog as we already have a drop shadow */
section.for-backlog {
  margin-top: $ninesixty-vertical * 5;
  padding-right: 0;
  padding-left: 0;
  section.main-content-pod {
    @include drop-shadow(0px, 0px);
    padding: 12px $backlog-horizontal-padding 0 $backlog-horizontal-padding;
  }
  section.title {
    display: none;
  }
}

#backlog-container {
  clear: left;
  font-size: 11px;
}

#backlog-data-area {
  position: fixed;
  top: $ninesixty-vertical * 2;
  left: 0;
  overflow: hidden;
  height: 4.5em;
  width: 100%;
  background-color: $title-area-color;
  z-index: 1;
  .actions {
    float: right;
    overflow: hidden;
    padding: 0.3em $standard-header-padding-height*2+5px 0.2em 0;
    margin-top: 0.4em;
    a {
      display: block;
      float: left;
    }
    .divider {
      border-right: 1px solid #AADDAA;
      height: 1em;
      padding-left: 1em;
      margin-right: 1em;
      margin-top: 0em;
      float: left;
    }
  }
  /* position editable input as global to avoid jumping */
  input, textarea {
    position: absolute;
  }
  .name-company-container {
    height: 30px;
    form {
      display: inline;
    }
    h2.name {
      display: inline;
      margin: 2px 0 0 $ninesixty-gutter-width - 2px;
      position: relative;
      background-color: transparent;
      padding: 0;
      height: 28px;
      font-size: 20px;
      >div {
        padding: 2px;
        display: inline;
      }
    }
    h3.company {
      display: inline;
      color: #006600;
      font-size: 16px;
      padding-left: 0.5em;
    }
  }
  .snapshot {
    margin-top: 7px;
    float: left;
    clear: left;
    padding-left: $ninesixty-gutter-width;
    .locked {
      float: left;
      overflow: hidden;
      position: relative;
      top: -2px;
      left: -5px;
    }
    .title {
      color: #999;
      float: left;
    }
    .selector {
      float: left;
      margin-top: -5px;
      select {
        background-color: $title-area-color;
        border: 1px solid darken($title-area-color, 60%);
      }
    }
    .new, .compare {
      float: left;
      width: 16px;
      height: 16px;
      margin-top: -3px;
      cursor: pointer;
    }
  }
  #backlog-settings {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 3px 6px 3px 3px;
    color: #363;
    #backlog-rate, #backlog-velocity {
      float: left;
      overflow: hidden;
    }
    #backlog-velocity {
      padding-left: 0.5em;
      border-left: 1px solid #ADA;
      margin-left: 0.5em;
    }
    .title {
      float: left;
      padding: 2px 0.25em 2px 0;
      color: #999;
    }
    .data {
      float: left;
      padding: 2px;
      &:hover {
        color: black;
      };
    }
  }
  .backlog-stats {
    background-color: #FFF;
    float: right;
    margin: 0 $standard-header-padding-height*2 0 0;
    @include drop-shadow(0px, 4px, #6C6);
    div.title {
      padding: 5px 0 5px 5px;
      float: left;
    }
    div.output {
      padding: 5px;
      float: left;
    }
  }
}

/* when viewing a snapshot don't make these fields look editable */
#backlog-data-area.not-editable {
  h2.name:hover {
    background:transparent;
  }
  #backlog-settings {
    .data:hover {
      background:transparent;
      color: inherit;
    }
  }
}

#themes-header {
  position: fixed;
  z-index: 1;
  top: 86px;
  left: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #DDD;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  font-size: 12px;
  .columns {
    margin: 0 $backlog-horizontal-padding 0 $backlog-horizontal-padding;
    .theme { @include table-head(12%); }
    .unique-id { @include table-head(7%); }
    .user-story, .acceptance-criteria, .comments { @include table-head(22%); }
    .score-50, .score-90 { @include table-head(3%); }
    .score { @include table-head(6%); &>div { text-align: right; } }
    .cost-formatted { @include table-head(5%); &>div { text-align: right; } }
    .days-formatted {
      background-color: #DDD;
      margin: 0;
      width: auto;
      &>div {
        text-align: right;
        padding: 3px 3px 1px 5px;
      }
    }
  }
  @include drop-shadow(2px, 2px);
}

#themes-container {
  .loading {
    margin: 20px auto 10px auto;
    text-align: center;
    width: 80px;
    .progress-icon {
      float: left;
    }
    p {
      padding-top: 2px;
    }
  }
  overflow: hidden;
}
/* stop ordering of themes link which is outside of the ul.themes so that drag & drop reordering does not have this item as the last item */
.themes .stop-ordering {
  display: none;
  padding: 5px 0 5px 0;
  clear: left;
  a {
    @include button-style;
    padding: 1px 5px 1px 5px;
    font-size: 90%;
    border-width: 1px;
    &:hover {
      text-decoration: none;
    };
  }
}

ul.themes {
  list-style: none;
  margin: 0;
  padding-bottom: 5px;

  /* ensure data elements don't jump when editing */
  .data {
    input, textarea {
      position: absolute;
      margin-top: -3px;
      font-family: Sans-Serif;
      font-size: 100%;
      z-index: 2;
    }
  }

  /* styling for an empty editable field with edit text in it */
  .editable-blank {
    font-size: 80%;
    color: #666;
  }

  /* buttons for adding theme / story */
  li.actions {
    clear: left;
    margin: 1em 0 0 0;
    padding: 3px;
    a {
      @include button-style;
      padding: 1px 5px 1px 5px;
      font-size: 90%;
      border-width: 1px;
      &.new-acceptance-criterion {
        border-color: #AAA;
        background-color: #DDD;
        padding: 0 0px 0 1px;
        margin: 3px -3px 0 0;
      }
    }
  }

  /* re-ordering target li item */
  li.target-order-highlight {
    border: 1px dashed #333;
    margin: 5px 60% 0 0;
    background-color: #FFE;
    list-style: none;
    height: 2em;
    clear: left;
  }

  /* theme row */
  li.theme {
    /* add padding to every theme row after the first */
    &:nth-child(1n+2) {
      padding: 5px 0 0 0;
    }
    margin: 0;
    clear: left;
    overflow: hidden;

    /* this box appears when in theme re-order mode */
    .move-theme {
      display: none;
      border: 1px solid #CCC;
      background-color: #EEE;
      text-align: center;
      float: left;
      margin: 1px;
      padding: 2px;
      cursor: move;
      overflow: hidden;
      .icon {
        float: left;
      }
      .instructions {
        float: left;
        padding-top: 3px;
      }
    }
    /* theme name field */
    &>div.theme-data {
      @include table-col(12% / 100% * $table-first-col-width);
      margin: 2px 0 1px 0;
      &>div {
        margin-right: 0;
      }
      .name>.data {
        margin: 0px;
      }

      .code {
        color: #666;
        font-size: 80%;
        border: none;
        padding: 2px 0 0 0;
        .heading {
          float: left;
          padding: 2px 0.4em 2px 0.5em;
        }
        .data {
          float: left;
          padding: 2px;
          input, textarea {
            font-size: 95%;
          }
          &:hover {
            background-color: #CCC;
            color: black;
          }
        }
      }
      >.theme-actions {
        border: none;
        margin: 0;
        padding: 0;
        clear: left;
      }
    }

    /* generic style for moving link */
    div.move-story {
      border: none;
      margin: 0;
      padding-top: 0;
      float: left;
      a {
        cursor: move;
      }
    }

    /* generic style for deleting link */
    div.delete-theme, div.delete-story, div.duplicate-story, div.re-number-stories {
      float: left;
    }

    div.color-picker-icon {
      float: left;
      padding: 3px;
      cursor: pointer;
      a {
        width: 11px;
        height: 11px;
        background: url(/images/color-picker.png);
        display: block;
      }
    }

    .theme-stats {
      width: 100%;
      clear: left;
      overflow: hidden;
      margin: 2px 0 8px 0;
      .container {
        margin-left: 7%/88%*100%;
        overflow: hidden;
        background-color: $stats-bg-color;
        div.title {
          padding: 5px;
          float: left;
          color: #666;
        }
        div.metrics {
          padding: 5px;
          float: right;
        }
      }
    }

    &>div.stories {
      float: left;
      width: $table-first-col-width;
      ul.stories {
        list-style: none;
        margin: 0;
        li.actions {
          margin: 2px 0 1em 3px;
          position: absolute;
        }
        li.target-order-highlight {
          margin: 0 0 0 0;
          height: 5em;
        }
        /* story row */
        li.story {
          padding: 2px 0 5px 1px;
          overflow: hidden;
          clear: left;
          margin: 0;
          &>.unique-id {
            @include table-col(7%);
            >.story-actions {
              border: none;
              margin: 0;
              padding: 0 0 0 3px;
            }
            &>div.data { background-color: rgba(255,255,255,0.6); }
          }
          &>.user-story, &>.acceptance-criteria, &>.comments {
            @include table-col(22%);
            &>div {
              background-color: rgba(255,255,255,0.6);
              min-height: 1.1em;
            }
          }
          &>.score-50, &>.score-90, &>.score {
            @include table-col(3%);
            &>div {
              background-color: rgba(255,255,255,0.6);
              min-height: 1.1em;
            }
          }
          &>.score {
            @include table-col(6%);
          }
          &>.cost-formatted { @include table-col(5%); text-align: right; &>div { border: none; padding: 3px; } }
          &>.days-formatted {
            &>div {
              margin: 1px 0 1px 1px;
              padding: 3px;
            }
            text-align: right;
          }

          &>div.user-story {
            /* ensure div wraps the children */
            &>div {
              overflow: hidden;
            }
            /* as a, i want to, so i can text */
            .heading {
              float: left;
              clear: left;
              padding-right: 0.25em;
              color: #666;
              font-style: italic;
            }
          }
          ul.acceptance-criteria {
            margin: 0;
            list-style: none;
            /* acceptance criteria row */
            li.criterion {
              margin: 0;
            }
            li.actions {
              margin-bottom: 4px;
              position: relative;
            }
            li:last-child {
              list-style: none;
              margin: 0 0 3px 0;
            }
            .index {
              width: 1.5em;
              cursor: move;
              float: left;
              clear: left;
            }
            .data {
              clear: right;
              cursor: text;
              margin-left: 1.5em;
            }
            li.target-order-highlight {
              height: 1.5em;
            }
          }
        }
      }
    }
  }
}
/* when viewing a snapshot don't make these fields look editable */
#backlog-container.not-editable ul.themes {
  li.theme .theme-data .code .data:hover {
    background:transparent;
    color: inherit;
  }
}

#dialog-print {
  .progress-placeholder {
    font-weight: bold;
  }
}

#dialog-create-snapshot {
  div.progress-area, div.progress-area.field_with_errors {
    margin-left: 23px;
    display: block;
  }
  input[type=text] {
    width: 15em;
  }
}

#loading-new-snapshot {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  div.background {
    z-index: 103;
  }
  .progress-icon {
    float: left;
    margin-right: 0.5em;
  }
  div.loading {
    position: absolute;
    background-color: white;
    margin: 45% 0 0 45%;
    width: 90px;
    height: 16px;
    padding: 10px;
    background-color: white;
    border: 1px solid #999;
    z-index: 105;
  }
}

#dialog-compare-snapshot {
  div.elements, div.error-message {
    margin-left: 23px;
    display: block;
  }
  div.error-message {
    color: red;
  }
  .error-alert {
    float: left;
    margin-right: 10px
  }
}