@mixin dash-board-company {
  background-color: #EEE;
  padding: 3px 8px 3px 8px;
  font-weight: bold;
  margin-left: -5px;
  margin-right: 5px;
}

@mixin within-content-notice {
  font-size: 16px;
  margin-bottom: 2em;
  color: #333;
  background-color: #CCEECC;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  a {
    color: #008800;
    text-decoration: underline;
    &:hover {
      color: #003300;
    };
  }
}

/* Account dashboard home */
ul.backlog-list, ul.your-backlog-list {
  list-style: none;
  overflow: hidden;
  margin-bottom: 1em;
  li {
    margin: 0;
    float: left;
    clear: left;
    overflow: hidden;
    .name {
      padding-bottom: 0.25em;
      float: left;
    }
    .last-update {
      padding: 0 0.25em 0.25em 0.25em;
      color: #999;
      float: left;
    }
  }
}
ul.your-backlog-list {
  margin-bottom: 0.5em;
  li {
    margin: 0 0 0 6px;
    .name a {
      border-bottom: 1px dotted #666;
      color: #333;
      &:hover {
        border-bottom: 1px solid black;
        text-decoration: none;
      };
    }
  }
}
.dash-board-company {
  @include dash-board-company;
}

.your-back-list-side-panel {
  .company {
    font-weight: bold;
    color: #000;
    a {
      color: black;
    }
  }
}

/* Home and invite landing page */
#home, #invite {
  overflow: hidden;
  padding-bottom: 0.5em;
  margin: $standard-body-margin;
  padding: $standard-body-padding;

  /* 3 panels on the home page */
  .sign-up {
    width: 400px;
    float: left;
    padding: 10px 10px 15px 10px;
    background-color: #CFC;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .button {
      background-color: white;
    }
    h2 {
      background-color: transparent;
    }
  }
  .or {
    width: 40px;
    float: left;
    font-weight: bold;
    font-size: 130%;
    padding: 90px 0 0 10px;
    text-align:center;
  }
  .login {
    width: 280px;
    margin-left: 480px;
    padding: 10px;
    background-color: #D6D6D6;
    -moz-border-radius: 10px;
    border-radius: 10px;
    input[type=submit] {
      @include grey-button-override-style;
    }
    h2 {
      background-color: transparent;
    }
  }

  .company {
    @include dash-board-company
  }
  .beta-notice {
    @include within-content-notice;
  }
}

/* Account users management */
table.users, table.invites {
  border-collapse:collapse;
  th {
    border: 1px solid white;
    background-color: #CCC;
    padding: 4px;
    font-weight: bold;
  }
  td {
    border: 1px solid white;
    background-color: #EEE;
    padding: 4px;
    height: 1.2em;
    &.action {
      background-color: white;
    }
    &.admin {
      padding-left: 2em;
    }
  }
}

#new-user textarea {
  font-family: Sans-Serif;
  &#emails.empty {
    color: #666;
  }
}

/* Sign up for a new account & register in same action page */
#sign-up, #invite {
  padding-top: 1em;
  .data-area {
    padding: 4px 0 20px 4px;
    &.no-padding {
      padding-bottom: 0;
    }
  }
  input[type=text], input[type=password] {
    width: 15em;
  }
  input[type=text]#account_default_rate, input[type=text]#account_default_velocity {
    width: 6em;
  }
  #account_name {
    @include large-name-field
  }
}

#invite {
  label.error {
    position: absolute;
    float: left;
    width: 15em;
  }
}

/* New account */
form#new_account {
  input#account_name {
    @include large-name-field
  }
}

form#new_backlog, form.edit_backlog, form.edit_company {
  .not-editable-notice {
    @include within-content-notice;
  }
  input#backlog_name {
    width: 400px;
  }
  label {
    font-weight: bold;
    font-size: 110%;
    &.light {
      font-weight: normal;
    }
    &.selected {
      background-color: #FFFFCC;
    }
    span.detail {
      font-size: 90%;
      color: #555;
      font-weight: normal;
    }
  }
  .client-select {
    margin-left: 20px;
    label {
      font-size: 100%;
    }
    input {
      font-size: 90%;
      width: 150px;
    }
    .select-existing {
      display: inline;
    }
    .existing, .new {
      display: none;
      .new-company {
        display: inline;
      }
      input, select {
        font-size: 16px;
      }
      input[type=text] {
        width: 250px;
      }
    }
  }
}

/* Tools on the Backlog edit page */
section.side-panel .backlog-tool-panel {
  margin-bottom: 20px;
  h2 {
    font-size: 18px;
    height: 32px;
  }
  a.delete-backlog {
    color: #C00;
    text-decoration: underline;
    &:hover {
      color: #600;
    }
  }
}

table.supported_browsers {
  border-collapse: collapse;
  th {
    padding: 0.25em 0.5em;
    text-align: left;
    background-color: #EEE;
  }
  td {
    padding: 0.25em 0.5em;
  }
  td {
    border-bottom: 1px solid #CCC;
  }
  td.col {
    border-right: 1px solid #CCC;
  }
  td.green {
    font-weight: bold;
    color: #00BB00;
  }
  td.partial {
    font-weight: bold;
    color: #FF6633;
  }
  td.red {
    font-weight: bold;
    color: #FF0000;
  }
}