/* Account dashboard home */
ul.backlog-list, ul.your-backlog-list {
  list-style: none;
  overflow: hidden;
  margin-bottom: 0;
  li {
    margin: 0;
    float: left;
    clear: left;
    overflow: hidden;
    .name {
      padding-bottom: 0.25em;
      float: left;
    }
    .action {
      float: left;
      overflow: hidden;
    }
    .last-update {
      padding: 0 0.25em 0.25em 0.25em;
      color: #999;
      float: left;
    }
  }
}
ul.your-backlog-list {
  margin-bottom: 0.5em;
  li {
    margin: 0 0 0 6px;
    a {
      color: #333;
      &:hover {
        color: #000;
      };
    }
  }
}

/* Home and invite landing page */
#home, #invite {
  overflow: hidden;
  padding-bottom: 0.5em;
  margin: $standard-body-margin;
  padding: $standard-body-padding;

  /* 3 panels on the home page */
  .sign-up {
    width: 400px;
    float: left;
    padding: 10px 10px 15px 10px;
    background-color: #CFC;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .button {
      background-color: white;
    }
    h2 {
      background-color: transparent;
    }
  }
  .or {
    width: 40px;
    float: left;
    font-weight: bold;
    font-size: 130%;
    padding: 90px 0 0 10px;
    text-align:center;
  }
  .login {
    width: 280px;
    margin-left: 480px;
    padding: 10px;
    background-color: #D6D6D6;
    -moz-border-radius: 10px;
    border-radius: 10px;
    input[type=submit] {
      @include grey-button-override-style;
    }
    h2 {
      background-color: transparent;
    }
  }

  ul {
    padding-bottom: 1em;
  }
}

/* Account users management */
table.users, table.invites {
  border-collapse:collapse;
  th {
    border: 1px solid white;
    background-color: #CCC;
    padding: 4px;
    font-weight: bold;
  }
  td {
    border: 1px solid white;
    background-color: #EEE;
    padding: 4px;
    height: 1.2em;
    &.action {
      background-color: white;
    }
    &.admin {
      padding-left: 2em;
    }
  }
}

#new-user textarea {
  font-family: Sans-Serif;
  &#emails.empty {
    color: #666;
  }
}

/* Sign up for a new account & register in same action page */
#sign-up, #invite {
  padding-top: 1em;
  .data-area {
    padding: 4px 0 20px 4px;
    &.no-padding {
      padding-bottom: 0;
    }
  }
  input[type=text], input[type=password] {
    width: 15em;
  }
  input[type=text]#account_default_rate, input[type=text]#account_default_velocity {
    width: 6em;
  }
  #account_name {
    @include large-name-field
  }
}

#invite {
  label.error {
    position: absolute;
    float: left;
    width: 15em;
  }
}

/* New account */
form#new_account {
  input#account_name {
    @include large-name-field
  }
}