<div id="dialog-confirm" class="dialog" title="<%= title %>"}
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <%= confirmationMessage %>
  </p>
</div>