<div id="dialog-delete" title="Delete theme?">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;" />
    This theme and all its stories will be permanently deleted and cannot be recovered. Are you sure?
  </p>
</div>