<div class="theme-data">
  <div class="name">
    <div class="data"><%= htmlEncode(model.get('name')) %></div>
  </div>
  <div class="theme-actions">
    <div class="action-menu-icon">
      <ul class="action-menu-menu">
        <li class="delete-theme">
          <a class="ui-icon ui-icon-trash"></a><a class="title">Delete this theme</a>
        </li>
        <li class="re-order-themes">
          <a class="ui-icon ui-icon-triangle-2-n-s"></a><a class="title">Reorder themes</a>
        </li>
        <li class="assign-stories-sprint">
          <a class="ui-icon ui-icon-tag"></a><a class="title">Assign stories to a sprint</a>
        </li>
        <li class="re-number-stories">
          <a class="ui-icon ui-icon-shuffle"></a><a class="title">Reset ID numbers of stories within this theme</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="code">
    <div class="heading"><%= I18n.t('code', 'Code') %>:</div>
    <div class="data"><%= htmlEncode(model.get('code')) %></div>
  </div>
</div>
<div class="stories">
  <div class="theme-stats">
    <div>&nbsp;</div>
  </div>
</div>
<div class="move-theme">
  <div class="icon ui-icon ui-icon-arrow-4"></div>
  <div class="instructions">Drag this to reorder this theme</div>
</div>
