<div class="theme-data">
  <div class="name">
    <div class="data"><%= htmlEncode(model.get('name')) %></div>
  </div>
  <div class="theme-actions">
    <div class="delete-theme"><a href="#delete-theme" class="ui-icon ui-icon-trash vtip" title="Delete this theme"></a></div>
    <div class="re-number-stories"><a href="#re-number-stories" class="ui-icon ui-icon-shuffle vtip" title="Re-number the stories in this theme"></a></div>
  </div>
  <div class="code">
    <div class="heading"><%= I18n.t('code', 'Code') %>:</div>
    <div class="data"><%= htmlEncode(model.get('code')) %></div>
  </div>
</div>
<div class="stories">
  <div class="theme-stats">
    <div>&nbsp;</div>
  </div>
</div>
<div class="move-theme">
  <div class="icon ui-icon ui-icon-arrow-4"></div>
  <div class="instructions">Drag this to reorder this theme</div>
</div>
