<div id="dialog-re-number" title="Re-number stories in this theme?">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 40px 0;" />
    Are you sure you want to sequentially re-number all the stories in this theme based on their order?  You cannot undo this.
  </p>
</div>