<div class="theme-data">
  <div class="name">
    <div class="data"><%= model.get('name') %></div>
  </div>
  <div class="code">
    <div class="heading">Code:</div>
    <div class="data"><%= model.get('code')%></div>
  </div>
  <div class="delete-theme"><a href="#delete-theme">delete theme</a></div>
</div>
<div class="stories">
  <div class="story-stats">
    <div>&nbsp;</div>
  </div>
</div>
