<div class="container">
  <% if (model.get('name') && model.get('name').length) { %>
    <div class="title">
      <%= I18n.t('theme_total', "Total for theme '%{name}'").replace('%{name}', htmlEncode(model.get('name'))) %>
    </div>
  <% } %>
  <div class="metrics">
    <%= JST['_shared/backlog_stats']({ model: model, useDaysEstimates: useDaysEstimates, useCostEstimates: useCostEstimates }) %>
  </div>
</div>