/*
Content-Type: multipart/related; boundary="MHTML_MARK"


--MHTML_MARK--
*/
ul.stories li.story>.unique-id>div.data{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#99FFFFFF,endColorStr=#99FFFFFF);zoom:1}ul.stories li.story>.user-story,ul.stories li.story>.acceptance-criteria,ul.stories li.story>.comments{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#99FFFFFF,endColorStr=#99FFFFFF);zoom:1}ul.stories li.story>.score-50>div,ul.stories li.story>.score-90>div{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#99FFFFFF,endColorStr=#99FFFFFF);zoom:1}