$add-button-color: green;
$delete-link-color: darken(red, 20%);
$stats-bg-color: #EEE;
$table-first-col-width: 88%;

@mixin table-col($width) {
  width: $width * 100% / $table-first-col-width; /* all story elements use up % of total width as embedded in another elem */
  float: left;
  &>div {
    margin: 0 0 1px 1px;
    padding: 2px;
    border: 1px solid #DDD;
  }
}

@mixin table-head($width) {
  background-color: #DDD;
  width: $width;
  float: left;
  margin: 0;
  &>div {
    padding: 3px 3px 1px 5px;
    border-right: 1px solid white;
  }
}

@mixin editable-field {
  &:hover {
    background-color: darken($title-area-color,7.5%);
  }
}

/* on the backlog page we need to move the header to a fixed position */
header.for-backlog {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  .padded-container {
    overflow: hidden;
    padding: $standard-header-padding;
  }
}
/* hide the drop shadow on main content area for backlog as we already have a drop shadow */
section.for-backlog {
  section.main-content-pod {
    @include drop-shadow(0px, 0px);
  }
}

#backlog-container {
  margin-top: 4.5em;
  clear: left;
  font-size: 90%;
}

#backlog-data-area {
  position: fixed;
  top: 24px;
  left: 0;
  overflow: hidden;
  height: 4.5em;
  width: 100%;
  background-color: $title-area-color;
  z-index: 1;
  .back-action {
    margin: 6px 12px 6px 6px;
    float: right;
  }
  /* position editable input as global to avoid jumping */
  input, textarea {
    position: absolute;
  }
  h2.name {
    margin: 6px 0 0 10px;
    position: relative;
    width: 20em;
    >div {
      padding: 2px;
    }
    @include editable-field;
  }
  #backlog-settings {
    float: left;
    margin: 3px 0 0 12px;
    #backlog-rate, #backlog-velocity {
      float: left;
      overflow: hidden;
    }
    #backlog-velocity {
      padding-left: 2.5em;
    }
    .title {
      float: left;
      padding: 2px 0.25em 2px 0;
    }
    .data {
      float: left;
      padding: 2px;
      @include editable-field;
    }
  }
  .backlog-stats {
    background-color: #FFF;
    float: right;
    margin: 0 12px 0 0;
    div.title {
      padding: 5px 0 5px 5px;
      float: left;
    }
    div.output {
      padding: 5px;
      float: left;
    }
  }
  .actions {
    float: right;
    padding: 5px 15px 5px 5px;
  }
}

#themes-header {
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #DDD;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  .columns {
    margin: 0 24px 0 24px;
    .theme { @include table-head(12%); }
    .unique-id { @include table-head(7%); }
    .user-story, .acceptance-criteria, .comments { @include table-head(22%); }
    .score-50, .score-90 { @include table-head(3%); }
    .cost-formatted { @include table-head(5%); &>div { text-align: right; } }
    .days-formatted {
      background-color: #DDD;
      margin: 0;
      width: auto;
      &>div {
        text-align: right;
        padding: 3px 3px 1px 5px;
      }
    }
  }
  @include drop-shadow(3px, 3px);
}

/* stop ordering of themes link which is outside of the ul.themes so that drag & drop reordering does not have this item as the last item */
.themes .stop-ordering {
  display: none;
  padding-top: 5px;
  clear: left;
  a {
    @include button-style;
    padding: 1px 5px 1px 5px;
    font-size: 90%;
    border-width: 1px;
    &:hover {
      text-decoration: none;
    };
  }
}

ul.themes {
  list-style: none;
  margin: 0;

  /* ensure data elements don't jump when editing */
  .data {
    input, textarea {
      position: absolute;
      margin-top: -3px;
      font-family: Sans-Serif;
      font-size: 100%;
      z-index: 2;
    }
  }

  /* styling for an empty editable field with edit text in it */
  .editable-blank {
    font-size: 80%;
    color: #666;
  }

  /* buttons for adding theme / story */
  li.actions {
    clear: left;
    margin: 1em 0 0 0;
    padding-top: 3px;
    a {
      @include button-style;
      padding: 1px 5px 1px 5px;
      font-size: 90%;
      border-width: 1px;
      &.new-acceptance-criterion {
        padding: 0 10px 0 10px;
      }
    }
  }

  /* re-ordering target li item */
  li.target-order-highlight {
    background-color: #FFC;
    margin: 0;
    list-style: none;
    height: 2em;
    clear: left;
  }

  /* theme row */
  li.theme {
    /* add padding to every theme row after the first */
    &:nth-child(1n+2) {
      padding: 5px 0 0 0;
    }
    margin: 0;
    clear: left;
    overflow: hidden;

    /* this box appears when in theme re-order mode */
    .move-theme {
      display: none;
      border: 1px solid #CCC;
      background-color: #EEE;
      text-align: center;
      float: left;
      margin: 1px;
      padding: 2px;
      cursor: move;
    }
    /* theme name field */
    &>div.theme-data {
      @include table-col(12% / 100% * $table-first-col-width);
      margin: 0 0 1px 0;
      .name>.data {
        margin-left: 0px;
      }

      .code {
        color: #666;
        font-size: 80%;
        border: none;
        .heading {
          float: left;
          padding-right: 0.4em;
        }
        .data {
          float: left;
          input, textarea {
            font-size: 95%;
          }
        }
      }
      >.theme-actions {
        border: none;
        margin: 0;
        padding: 0 0 0 3px;
        clear: left;
      }
    }

    /* generic style for moving link */
    div.move-story {
      border: none;
      cursor: move;
      margin: 0;
      padding-top: 0;
      a {
        font-size: 90%;
        color: #666;
        cursor: move;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        };
      }
    }

    /* generic style for deleting link */
    div.delete-theme, div.delete-story {
      clear: left;
      a {
        font-size: 90%;
        color: $delete-link-color;
        text-decoration:none;
        &:hover {
          text-decoration: underline;
        };
      }
    }

    .theme-stats {
      width: 100%;
      clear: left;
      overflow: hidden;
      margin: -2px 0 8px 0;
      .container {
        margin-left: 7%/88%*100%;
        overflow: hidden;
        background-color: $stats-bg-color;
        div.title {
          padding: 5px;
          float: left;
          color: #666;
        }
        div.metrics {
          padding: 5px;
          float: right;
        }
      }
    }

    &>div.stories {
      float: left;
      width: $table-first-col-width;
      ul.stories {
        list-style: none;
        margin: 0;
        li.actions {
          margin: 0 0 1em 3px;
          position: absolute;
        }
        /* story row */
        li.story {
          padding: 0 0 5px 0;
          overflow: hidden;
          clear: left;
          margin: 0;
          &>.unique-id {
            @include table-col(7%);
            >.story-actions {
              border: none;
              margin: 0;
              padding: 0 0 0 3px;
            }
          }
          &>.user-story, &>.acceptance-criteria, &>.comments { @include table-col(22%); }
          &>.score-50, &>.score-90 { @include table-col(3%); }
          &>.cost-formatted { @include table-col(5%); text-align: right; &>div { border: none; padding: 3px; } }
          &>.days-formatted {
            &>div {
              margin: 1px 0 1px 1px;
              padding: 3px;
            }
            text-align: right;
          }

          &>div.user-story {
            /* ensure div wraps the children */
            &>div {
              overflow: hidden;
            }
            /* as a, i want to, so i can text */
            .heading {
              float: left;
              clear: left;
              padding-right: 0.25em;
              color: #666;
              font-style: italic;
            }
          }
          ul.acceptance-criteria {
            margin: 0;
            list-style: none;
            /* acceptance criteria row */
            li.criterion {
              margin: 0;
            }
            li.actions {
              margin-bottom: 4px;
              position: relative;
            }
            li:last-child {
              list-style: none;
              margin: 0 0 3px 0;
            }
            .index {
              width: 1.5em;
              cursor: move;
              float: left;
              clear: left;
            }
            .data {
              clear: right;
              cursor: text;
              margin-left: 1.5em;
            }
            li.target-order-highlight {
              height: 1em;
            }
          }
        }
      }
    }
  }
}

#dialog-print {
  .progress-placeholder {
    font-weight: bold;
  }
}