#backlog-container {
  clear: left;
}

#backlog-data-area {
  .back-action {
    float: right;
  }
  h2.name {
    position: relative;
    width: 20em;
  }
}

table#themes-container {
  width: 100%;
  th { background-color: #CCC; padding: 3px; border: 1px solid white;}
  th.theme { width: 15%; }
  th.unique-id { width: 5%; }
  th.user-story { width: 20%; }
  th.acceptance-criteria { width: 20%; }
  th.comments { width: 20%; }
  th.score-50 { width: 5%; }
  th.score-90 { width: 5%; }
  th.cost { width: 5%; }
  th.days { width: 5%; }
}

@mixin table-col($width) {
  width: $width * 100 / 80; /* all story elements use up 80% of total width */
  float: left;
  &>div {
    margin: 1px;
    padding: 2px;
    border: 1px solid #CCC;
  }
}

$add-button-color: green;
$delete-link-color: darken(red, 20%);

ul.themes {;
  list-style: none;
  margin: 0;

  /* buttons for adding theme / story */
  li.actions {
    clear: left;
    margin: 0 0 10px 0;
    padding-top: 5px;
    a {
      font-weight: bold;
      font-size: 90%;
      text-decoration: none;
      color: $add-button-color;
      border: 1px solid $add-button-color;
      background-color: lighten($add-button-color, 60%);
      padding: 3px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      &:hover {
        color: darken($add-button-color, 50%);
        border-color: darken($add-button-color, 50%);
      };
      &.new-acceptance-criterion {
        padding: 0 5px 0 5px;
      }
    }
  }

  /* theme row */
  li.theme {
    /* add padding to every theme row after the first */
    &:nth-child(1n+2) {
      padding: 5px 0 0 0;
    }
    margin: 0;
    clear: left;

    /* theme name field */
    &>div.name {
      @include table-col(15% / 100 * 80);
      padding-left: 1px;

      /* delete theme link */
      div.delete-theme {
        border: none;
        a {
          font-size: 90%;
          color: $delete-link-color;
          text-decoration:none;
          &:hover {
            text-decoration: underline;
          };
        }
      }
    }

    &>div.stories {
      float: left;
      width: 80%;
      ul.stories {
        list-style: none;
        margin: 0;
        /* story row */
        li.story {
          /* add padding to every story row after the first */
          &:nth-child(1n+2) {
            padding: 5px 0 0 0;
          }
          clear: left;
          margin: 0;
          &>div.user-story, &>div.acceptance-criteria, &>div.comments {
            @include table-col(20%);
          }
          &>div.unique-id, &>div.score-50, &>div.score-90, &>div.cost, &>div.days {
            @include table-col(5%);
          }
          &>div.user-story {
            /* ensure div wraps the children */
            &>div {
              overflow: hidden;
            }
            /* as a, i want to, so i can text */
            .heading {
              float: left;
              clear: left;
              padding-right: 0.25em;
              color: #666;
              font-style: italic;
            }
            /* actual fields which contain editable text */
            .data {
              width: auto;
            }
          }
          ul.acceptance-criteria {
            list-style: lower-alpha;
            margin: 0 0 0 1.5em;
            /* acceptance criteria row */
            li.criterion {
              margin: 0;
            }
            li.actions {
              margin-bottom: 4px;
            }
            li:last-child {
              list-style: none;
              margin-left: -1.3em;
            }
          }
          >div.unique-id div.delete-story {
            border: none;
            a {
              font-size: 90%;
              color: $delete-link-color;
              text-decoration:none;
              &:hover {
                text-decoration: underline;
              };
            }
          }
        }
      }
    }
  }
}