/* generic & fix from reset */
body {
  font-family: Sans-Serif;
  padding: 0em 0em 0.5em 0em;
  font-size: 75%;
  background-color: #DDD;
}

h1 {
  font-size: 160%;
  .description {
    display: inline;
    font-size: 90%;
    color: #666;
  }
}

h2 {
  font-size: 135%;
  margin-right: 1em;
  font-family: Sans-Serif;
  font-weight: normal;
  margin-bottom: 0.5em;
  /* style for editable title on backlog page */
  input {
    font-size: 1em;
    font-family: Sans-Serif;
    font-weight: normal;
  }
}

p {
  margin-bottom: 0.85em;
}

ul {
  list-style: disc;
  margin-top: 0.25em;
  li {
    margin-left: 2em;
    margin-bottom: 0.35em;
  }
}

b, strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

sup {
  vertical-align: top;
  font-size: 80%
}

/* dialogs */
.dialog {
  display: none;
}

/* header styles */
header {
  overflow: hidden;
  background-color: #000;
  padding: 0.5em 0.5em 0.5em 1em;
  color: #666;

  a {
    color: #CCC;
    text-decoration: none;
    &:hover {
      color: #FFF;
      text-decoration: underline;
    }
  }

  sup {
    color: #DD6;
  }

  .main-title-logo {
    float: left;
    font-size: 110%;
  }

  .account-info {
    float: right;
  }
}

/* main body styles */
section.content {
  clear: both;
  padding: 1em;
  font-size: 110%;
  .links-container {
    padding-top: 1em;
  }
  a {
    color: $link-button-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: darken($link-button-color, 10%);
    };
    &.button {
      @include button-style;
    }
    /* back link in title area */
    &.back {
      float: right;
    }
  }
  input[type=submit] {
    @include button-style;
    font-size: 100%;
  }
}

section.title {
  margin: -1em -1em 0 -1em;
  background-color: $title-area-color;
  padding: 1em;
}
section.main-content-pod {
  background-color: white;
  padding: 1em 1em 1.5em 1em;
  clear: left;
  margin-top: 1em;
  @include drop-shadow(5px, 5px);
}

/* footer styles */
footer {
  padding: 0 1em 1em 1em;
  color: #666;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    };
  }
}

/* alerts, notices and form errors */
.notice, .alert {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  top: 3px;
  text-align: center;
  z-index: 5;
}

.notice, .alert, .form_errors {
  padding: 3px;
  display: block;
  background-color: #ccffcc;
  font-weight: bold;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.alert, .form_errors {
  background-color: #ffcccc; 
}

.form_errors {
  padding: 1em;
  margin-bottom: 1em;
}

.field_with_errors {
  display: inline;
  label {
    color: red;
  }
  input {
    border: 2px solid red;
  }
}

.small {
  display: inline;
  padding-left: 0.5em;
  font-size: 85%;
  a {
    color: #666;
  }
}

/* feedback styling */
#ue-feedback-tab {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}