/* generic & fix from reset */
body {
  font-family: Sans-Serif;
  padding: 0em 0em 0.5em 0em;
  font-size: 75%;
  background-color: #DDD;
}

h1 {
  font-family: "Lucida Grande",sans-serif;
  font-size: 160%;
  .description {
    display: inline;
    font-size: 90%;
    color: #666;
  }
}

h2 {
  font-family: "Lucida Grande",sans-serif;
  font-size: 135%;
  font-weight: normal;
  margin-bottom: 0.5em;
  /* style for editable title on backlog page */
  input {
    font-size: 1em;
    font-family: Sans-Serif;
    font-weight: normal;
  }
}

p {
  margin-bottom: 0.85em;
}

ul {
  list-style: disc;
  margin-top: 0.25em;
  li {
    margin-left: 2em;
    margin-bottom: 0.35em;
  }
}

b, strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

sup {
  vertical-align: top;
  font-size: 80%
}

/* dialogs */
.dialog {
  display: none;
}

/* header styles */
span.easy {
  font-style: italic;
  padding-right: 0.1em;
}

header {
  background-color: #000;
  padding: $standard-header-padding;
  color: #666;
  height: 25px;
  font-size: 12px;
  margin-bottom: -$standard-header-padding-height*2;

  a {
    color: #CCC;
    text-decoration: none;
    &:hover {
      color: #FFF;
      text-decoration: underline;
    }
  }

  sup {
    color: #DD6;
  }

  .divider {
    height: 25px;
    float: left;
    border-right: 1px solid #444;
    margin: -$standard-header-padding-height 1em 0 1em;
  }

  .main-title-area {
    .logo {
      float: left;
      font-size: 110%;
    }
    .company {
      float: left;
      .jump-to-company {
        color: #999;
      }
      ul {
        position: absolute;
        display: none;
        list-style: none;
        z-index: 20;
        background-color: black;
        margin: 0px -24px 0 -12px;
        min-width: 200px;
        li:first-child {
          margin-top: 7px;
        }
        li {
          margin: 0;
          padding: 6px 12px 6px 12px;
          border-top: 1px solid #444;
        }
      }
      &:hover {
        ul {
          display: block;
        }
      };
    }
  }

  .account-info {
    float: right;
    &>div {
      float: right;
    }
    .divider {
      float: right;
    }
  }
}

/* main body styles */
section.content {
  clear: both;
  padding: 12px;
  font-size: 110%;
  a {
    color: $link-button-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: darken($link-button-color, 10%);
    };
    &.button {
      @include button-style;
    }
  }
  input[type=submit] {
    @include button-style;
    font-size: 100%;
  }
}

section.title {
  margin: -12px -12px 0 -12px;
  background-color: $title-area-color;
  padding: 12px;
  /* back link in title area */
  a.back {
    float: right;
    padding-top: 4px;
    padding-left: 0.5em;
  }
  div.back {
    padding-top: 4px;
    padding-left: 0.5em;
    float: right;
  }
}
section.main-content-pod {
  background-color: white;
  padding: 12px 12px 18px 12px;
  clear: left;
  margin-top: 12px;
  overflow: hidden;
  @include drop-shadow(5px, 5px);

  h2 {
    background-color: #EDF3FE;
    padding: 12px;
    margin: -12px -12px 12px -12px;
  }
}

section.side-panel {
  float: right;
  padding: 24px 12px 18px 18px;
  width: 250px;
  a.button {
    @include grey-button-override-style;
  }

  h2 {
    clear: left;
    background-color: #EDF3FE;
    border-bottom: 1px solid darken(#EDF3FE, 10%);
    padding: 6px;
    margin: 1em 0 1em 0;
  }
}

.progress-icon {
  background: url(/images/progress.gif);
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: block;
}
.ui-dialog .progress-icon {
  background: url(/images/progress_on_grey.gif);
}

/* footer styles */
footer {
  padding: 0 1em 1em 1em;
  color: #666;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    };
  }
}

/* errors, notices, warnings and inline form errors */
#alert-space {
  position: fixed;
  left: 50%;
  overflow: hidden;
  margin-left: -200px;
  width: 450px;
  top: 0;
  z-index: 5;
  border: 3px solid black;
  -moz-border-radius: 9px;
  border-radius: 9px;
  .notice, .error, .warning {
    display: block;
    text-align: center;
    padding: 3px;
    background-color: #ccffcc;
    font-weight: bold;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .error {
    background-color: #F55656;
  }
  .warning {
    background-color: #FFB300;
  }
}

.form_errors {
  display: block;
  font-weight: bold;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFAAAA;
  color: #990000;
  padding: 1em;
  margin-bottom: 1em;
}

.field_with_errors {
  display: inline;
  label {
    color: red;
  }
  input, textarea, select {
    border: 2px solid red;
  }
}

.form-hint {
  font-style: italic;
  color: #9A9A9A;
  padding-left: 3px;
  font-size: 90%
}

label {
  &.spacer {
    padding-top: 1em;
    clear: left;
    display: block;
  }
  &.error {
    color: red;
    padding-left: 0.5em;
    font-size: 90%;
    &:before {
      content: url(/images/inline-alert-icon.png);
      width: 16px;
      height: 16px;
      top: 3px;
      position: relative;
      padding-right: 4px;
    };
    a {
      color: #FF0000;
      text-decoration: underline;
      &:hover {
        color: black;
      }
    }
  }
  &.correct {
    &:before {
      content: url(/images/inline-correct-icon.png);
      width: 16px;
      height: 16px;
      top: 3px;
      position: relative;
      padding-right: 4px;
    };
  }
}

.input-row {
  clear: left;
}

.small {
  display: inline;
  padding-left: 0.5em;
  font-size: 85%;
  a {
    color: #666;
  }
}

/* feedback styling */
#ue-feedback-tab {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}