/* Company dashboard home */
ul.backlog-list {
  list-style: none;
  li {
    margin: 0 0 0.5em 0;
    .last-update {
      color: #999;
      display: inline;
    }
    .action {
      display: inline;
      font-size: 85%;
    }
  }
  padding-bottom: 1em;
}

/* Home page */
#home {
  /* 3 panels on the home page */
  .sign-up {
    width: 400px;
    float: left;
    padding: 10px 10px 15px 10px;
    background-color: #CFC;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .button {
      background-color: white;
    }
  }
  .or {
    width: 40px;
    float: left;
    font-weight: bold;
    font-size: 130%;
    padding: 90px 0 0 10px;
    text-align:center;
  } 
  .login {
    width: 280px;
    margin-left: 480px;
    padding: 10px;
    background-color: #D6D6D6;
    -moz-border-radius: 10px;
    border-radius: 10px;
    input[type=submit] {
      background-color: #FFF;
      border-color: #666;
      color: #333;
    }
  }

  ul {
    padding-bottom: 1em;
  }
}

/* Company users management */
table.users {
  border-collapse:collapse;
  th {
    border: 1px solid white;
    background-color: #CCC;
    padding: 4px;
    font-weight: bold;
  }
  td {
    border: 1px solid white;
    background-color: #EEE;
    padding: 4px;
    height: 1.2em;
    &.action {
      background-color: white;
    }
    &.admin {
      padding-left: 2em;
    }
  }
}