#backlog-container {
  clear: left; }

#backlog-data-area .back-action {
  float: right; }
#backlog-data-area h2.name {
  position: relative;
  width: 20em; }

table#themes-container {
  width: 100%; }
  table#themes-container th {
    background-color: #CCC;
    padding: 3px;
    border: 1px solid white; }
  table#themes-container th.theme {
    width: 15%; }
  table#themes-container th.unique-id {
    width: 5%; }
  table#themes-container th.user-story {
    width: 20%; }
  table#themes-container th.acceptance-criteria {
    width: 20%; }
  table#themes-container th.comments {
    width: 20%; }
  table#themes-container th.score-50 {
    width: 5%; }
  table#themes-container th.score-90 {
    width: 5%; }
  table#themes-container th.cost {
    width: 5%; }
  table#themes-container th.days {
    width: 5%; }

ul.themes {
  list-style: none;
  margin: 0;
  /* buttons for adding theme / story */
  /* theme row */ }
  ul.themes li.actions {
    clear: left;
    margin: 0 0 10px 0;
    padding-top: 5px; }
    ul.themes li.actions a {
      font-weight: bold;
      font-size: 90%;
      text-decoration: none;
      color: green;
      border: 1px solid green;
      background-color: #b3ffb3;
      padding: 3px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      ul.themes li.actions a:hover {
        color: black;
        border-color: black; }
  ul.themes li.theme {
    /* add padding to every theme row after the first */
    margin: 0;
    clear: left;
    /* theme name field */ }
    ul.themes li.theme:nth-child(1n+2) {
      padding: 5px 0 0 0; }
    ul.themes li.theme > div.name {
      width: 15%;
      /* all story elements use up 80% of total width */
      float: left;
      padding-left: 1px;
      /* delete theme link */ }
      ul.themes li.theme > div.name > div {
        margin: 1px;
        padding: 2px;
        border: 1px solid #CCC; }
      ul.themes li.theme > div.name div.delete-theme {
        border: none; }
        ul.themes li.theme > div.name div.delete-theme a {
          font-size: 90%;
          color: #990000;
          text-decoration: none; }
          ul.themes li.theme > div.name div.delete-theme a:hover {
            text-decoration: underline; }
    ul.themes li.theme > div.stories {
      float: left;
      width: 80%; }
      ul.themes li.theme > div.stories ul.stories {
        list-style: none;
        margin: 0;
        /* story row */ }
        ul.themes li.theme > div.stories ul.stories li.story {
          /* add padding to every story row after the first */
          clear: left;
          margin: 0; }
          ul.themes li.theme > div.stories ul.stories li.story:nth-child(1n+2) {
            padding: 5px 0 0 0; }
          ul.themes li.theme > div.stories ul.stories li.story > div.user-story, ul.themes li.theme > div.stories ul.stories li.story > div.acceptance-criteria, ul.themes li.theme > div.stories ul.stories li.story > div.comments {
            width: 25%;
            /* all story elements use up 80% of total width */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story > div, ul.themes li.theme > div.stories ul.stories li.story > div.acceptance-criteria > div, ul.themes li.theme > div.stories ul.stories li.story > div.comments > div {
              margin: 1px;
              padding: 2px;
              border: 1px solid #CCC; }
          ul.themes li.theme > div.stories ul.stories li.story > div.unique-id, ul.themes li.theme > div.stories ul.stories li.story > div.score-50, ul.themes li.theme > div.stories ul.stories li.story > div.score-90, ul.themes li.theme > div.stories ul.stories li.story > div.cost, ul.themes li.theme > div.stories ul.stories li.story > div.days {
            width: 6.25%;
            /* all story elements use up 80% of total width */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > div.unique-id > div, ul.themes li.theme > div.stories ul.stories li.story > div.score-50 > div, ul.themes li.theme > div.stories ul.stories li.story > div.score-90 > div, ul.themes li.theme > div.stories ul.stories li.story > div.cost > div, ul.themes li.theme > div.stories ul.stories li.story > div.days > div {
              margin: 1px;
              padding: 2px;
              border: 1px solid #CCC; }
          ul.themes li.theme > div.stories ul.stories li.story > div.user-story {
            /* ensure div wraps the children */
            /* as a, i want to, so i can text */
            /* actual fields which contain editable text */ }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story > div {
              overflow: hidden; }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story .heading {
              float: left;
              clear: left;
              padding-right: 0.25em;
              color: #666;
              font-style: italic; }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story .data {
              width: auto; }
          ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria {
            list-style: none;
            margin: 0;
            /* acceptance criteria row */ }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.criterion {
              margin: 0; }
          ul.themes li.theme > div.stories ul.stories li.story > div.unique-id div.delete-story {
            border: none; }
            ul.themes li.theme > div.stories ul.stories li.story > div.unique-id div.delete-story a {
              font-size: 90%;
              color: #990000;
              text-decoration: none; }
              ul.themes li.theme > div.stories ul.stories li.story > div.unique-id div.delete-story a:hover {
                text-decoration: underline; }
