#backlog-container {
  clear: left; }

#backlog-data-area {
  border-bottom: 1px solid #EEE;
  overflow: hidden;
  margin-bottom: 5px; }
  #backlog-data-area .back-action {
    float: right; }
  #backlog-data-area h2.name {
    position: relative;
    width: 20em; }
    #backlog-data-area h2.name div {
      padding: 2px; }
    #backlog-data-area h2.name:hover {
      background-color: #FFA; }
  #backlog-data-area .backlog-stats {
    background-color: #eeeeee;
    clear: left;
    float: right;
    margin: 0 1px 0 0; }
    #backlog-data-area .backlog-stats div {
      padding: 5px; }

#themes-header {
  width: 100%;
  overflow: hidden; }
  #themes-header .theme {
    background-color: #CCC;
    width: 12%;
    float: left;
    margin: 0; }
    #themes-header .theme > div {
      padding: 2px;
      border-right: 1px solid white; }
  #themes-header .unique-id {
    background-color: #CCC;
    width: 7%;
    float: left;
    margin: 0; }
    #themes-header .unique-id > div {
      padding: 2px;
      border-right: 1px solid white; }
  #themes-header .user-story, #themes-header .acceptance-criteria, #themes-header .comments {
    background-color: #CCC;
    width: 21%;
    float: left;
    margin: 0; }
    #themes-header .user-story > div, #themes-header .acceptance-criteria > div, #themes-header .comments > div {
      padding: 2px;
      border-right: 1px solid white; }
  #themes-header .score-50, #themes-header .score-90 {
    background-color: #CCC;
    width: 3%;
    float: left;
    margin: 0; }
    #themes-header .score-50 > div, #themes-header .score-90 > div {
      padding: 2px;
      border-right: 1px solid white; }
    #themes-header .score-50 > div, #themes-header .score-90 > div {
      text-align: right; }
  #themes-header .cost-formatted {
    background-color: #CCC;
    width: 6%;
    float: left;
    margin: 0; }
    #themes-header .cost-formatted > div {
      padding: 2px;
      border-right: 1px solid white; }
    #themes-header .cost-formatted > div {
      text-align: right; }
  #themes-header .days-formatted {
    background-color: #CCC;
    margin: 0;
    width: auto; }
    #themes-header .days-formatted > div {
      text-align: right;
      padding: 2px; }

/* stop ordering of themes link which is outside of the ul.themes so that drag & drop reordering does not have this item as the last item */
.stop-ordering {
  display: none;
  padding-top: 5px;
  clear: left; }
  .stop-ordering a {
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
    color: green;
    border: 1px solid green;
    background-color: #b3ffb3;
    padding: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .stop-ordering a:hover {
      color: black;
      border-color: black; }
    .stop-ordering a.new-acceptance-criterion {
      padding: 0 5px 0 5px; }

ul.themes {
  list-style: none;
  margin: 0;
  /* ensure data elements don't jump when editing */
  /* styling for an empty editable field with edit text in it */
  /* buttons for adding theme / story */
  /* re-ordering target li item */
  /* theme row */ }
  ul.themes .data input, ul.themes .data textarea {
    position: absolute;
    margin-top: -3px; }
  ul.themes .editable-blank {
    font-size: 80%;
    color: #666; }
  ul.themes li.actions, ul.themes stop-ordering {
    clear: left;
    margin: 0 0 10px 0;
    padding-top: 5px; }
    ul.themes li.actions a, ul.themes stop-ordering a {
      font-weight: bold;
      font-size: 90%;
      text-decoration: none;
      color: green;
      border: 1px solid green;
      background-color: #b3ffb3;
      padding: 3px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      ul.themes li.actions a:hover, ul.themes stop-ordering a:hover {
        color: black;
        border-color: black; }
      ul.themes li.actions a.new-acceptance-criterion, ul.themes stop-ordering a.new-acceptance-criterion {
        padding: 0 5px 0 5px; }
  ul.themes li.target-order-highlight {
    background-color: #FFC;
    margin: 0;
    list-style: none;
    height: 3em;
    clear: left; }
  ul.themes li.theme {
    /* add padding to every theme row after the first */
    margin: 0;
    clear: left;
    overflow: hidden;
    /* this box appears when in theme re-order mode */
    /* theme name field */
    /* generic style for moving link */
    /* generic style for deleting link */ }
    ul.themes li.theme:nth-child(1n+2) {
      padding: 5px 0 0 0; }
    ul.themes li.theme .move-theme {
      display: none;
      border: 1px solid #CCC;
      background-color: #EEE;
      text-align: center;
      float: left;
      margin: 1px;
      padding: 2px;
      cursor: move; }
    ul.themes li.theme > div.theme-data {
      width: 12.0%;
      /* all story elements use up % of total width as embedded in another elem */
      float: left;
      margin: 1px 0 1px 0; }
      ul.themes li.theme > div.theme-data > div {
        margin: 0 0 1px 1px;
        padding: 2px;
        border: 1px solid #CCC; }
      ul.themes li.theme > div.theme-data .name > .data {
        margin-left: 0px; }
      ul.themes li.theme > div.theme-data .code {
        color: #666;
        font-size: 80%;
        border: none; }
        ul.themes li.theme > div.theme-data .code .heading {
          float: left;
          padding-right: 0.4em; }
        ul.themes li.theme > div.theme-data .code .data {
          float: left; }
          ul.themes li.theme > div.theme-data .code .data input {
            font-size: 95%; }
      ul.themes li.theme > div.theme-data > .theme-actions {
        border: none;
        margin: 0;
        padding: 0 0 0 3px;
        clear: left; }
    ul.themes li.theme div.move-story {
      border: none;
      cursor: move;
      margin: 0;
      padding-top: 0; }
      ul.themes li.theme div.move-story a {
        font-size: 90%;
        color: #666;
        cursor: move;
        text-decoration: none; }
        ul.themes li.theme div.move-story a:hover {
          text-decoration: none; }
    ul.themes li.theme div.delete-theme, ul.themes li.theme div.delete-story {
      clear: left; }
      ul.themes li.theme div.delete-theme a, ul.themes li.theme div.delete-story a {
        font-size: 90%;
        color: #990000;
        text-decoration: none; }
        ul.themes li.theme div.delete-theme a:hover, ul.themes li.theme div.delete-story a:hover {
          text-decoration: underline; }
    ul.themes li.theme .story-stats {
      background-color: #eeeeee;
      width: 100%;
      text-align: right;
      clear: left; }
      ul.themes li.theme .story-stats div {
        padding: 5px; }
    ul.themes li.theme > div.stories {
      float: left;
      width: 88%; }
      ul.themes li.theme > div.stories ul.stories {
        list-style: none;
        margin: 0;
        /* story row */ }
        ul.themes li.theme > div.stories ul.stories li.story {
          /* add padding to every story row after the first */
          clear: left;
          margin: 0; }
          ul.themes li.theme > div.stories ul.stories li.story:nth-child(1n+2) {
            padding: 5px 0 0 0; }
          ul.themes li.theme > div.stories ul.stories li.story > .unique-id {
            width: 7.955%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #CCC; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id > .story-actions {
              border: none;
              margin: 0;
              padding: 0 0 0 3px; }
          ul.themes li.theme > div.stories ul.stories li.story > .user-story, ul.themes li.theme > div.stories ul.stories li.story > .acceptance-criteria, ul.themes li.theme > div.stories ul.stories li.story > .comments {
            width: 23.864%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > .user-story > div, ul.themes li.theme > div.stories ul.stories li.story > .acceptance-criteria > div, ul.themes li.theme > div.stories ul.stories li.story > .comments > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #CCC; }
          ul.themes li.theme > div.stories ul.stories li.story > .score-50, ul.themes li.theme > div.stories ul.stories li.story > .score-90 {
            width: 3.409%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left;
            text-align: right; }
            ul.themes li.theme > div.stories ul.stories li.story > .score-50 > div, ul.themes li.theme > div.stories ul.stories li.story > .score-90 > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #CCC; }
          ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted {
            width: 6.818%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left;
            text-align: right; }
            ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #CCC; }
            ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted > div {
              border: none;
              padding: 3px; }
          ul.themes li.theme > div.stories ul.stories li.story > .days-formatted {
            text-align: right; }
            ul.themes li.theme > div.stories ul.stories li.story > .days-formatted > div {
              margin: 1px 0 1px 1px;
              padding: 3px; }
          ul.themes li.theme > div.stories ul.stories li.story > div.user-story {
            /* ensure div wraps the children */
            /* as a, i want to, so i can text */ }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story > div {
              overflow: hidden; }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story .heading {
              float: left;
              clear: left;
              padding-right: 0.25em;
              color: #666;
              font-style: italic; }
          ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria {
            margin: 0;
            list-style: none;
            /* acceptance criteria row */ }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.criterion {
              margin: 0; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.actions {
              margin-bottom: 4px; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li:last-child {
              list-style: none;
              margin: 0 0 3px 0; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria .index {
              width: 1.5em;
              cursor: move;
              float: left;
              clear: left; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria .data {
              clear: right;
              cursor: text;
              margin-left: 1.5em; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.target-order-highlight {
              height: 1em; }
