/*
Syntax error: Undefined variable: "$ninesixty-vertical".
        on line 62 of /Users/matthew/Projects/easybacklog/easybacklog/app/stylesheets/base.scss

57: span.easy {
58:   font-style: italic;
59:   padding-right: 0.1em;
60: }
61: 
62: $header-height: $ninesixty-vertical * 2;
63: header {
64:   background-color: #000;
65:   padding: $standard-header-padding;
66:   color: #666;
67:   height: $header-height - $standard-header-padding-height*2;

Backtrace:
/Users/matthew/Projects/easybacklog/easybacklog/app/stylesheets/base.scss:62
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script/variable.rb:50:in `_perform'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script/node.rb:40:in `perform'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script/operation.rb:74:in `_perform'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script/node.rb:40:in `perform'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:241:in `visit_variable'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/hoptoad_notifier-2.4.8/lib/hoptoad_notifier/user_informer.rb:12:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.3/lib/rack/urlmap.rb:47:in `block in call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.3/lib/rack/urlmap.rb:41:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.3/lib/rack/urlmap.rb:41:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-test-0.5.7/lib/rack/mock_session.rb:30:in `request'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-test-0.5.7/lib/rack/test.rb:209:in `process_request'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/rack-test-0.5.7/lib/rack/test.rb:57:in `get'
/Users/matthew/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/forwardable.rb:182:in `get'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/capybara-1.0.1/lib/capybara/rack_test/browser.rb:53:in `process'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/capybara-1.0.1/lib/capybara/rack_test/browser.rb:14:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/capybara-1.0.1/lib/capybara/rack_test/driver.rb:29:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/capybara-1.0.1/lib/capybara/session.rb:157:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/capybara-1.0.1/lib/capybara/dsl.rb:139:in `visit'
/Users/matthew/Projects/easybacklog/easybacklog/features/step_definitions/web_steps.rb:20:in `block in <top (required)>'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/core_ext/instance_exec.rb:48:in `instance_exec'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/core_ext/instance_exec.rb:48:in `block in cucumber_instance_exec'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/core_ext/instance_exec.rb:69:in `cucumber_run_with_backtrace_filtering'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/core_ext/instance_exec.rb:36:in `cucumber_instance_exec'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/rb_support/rb_step_definition.rb:62:in `invoke'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/step_match.rb:26:in `invoke'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime/support_code.rb:138:in `invoke'
/Users/matthew/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/forwardable.rb:182:in `invoke'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/rb_support/rb_world.rb:22:in `__cucumber_invoke'
/Users/matthew/Projects/easybacklog/easybacklog/features/step_definitions/authentication_steps.rb:6:in `block in <top (required)>'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/core_ext/instance_exec.rb:48:in `instance_exec'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/core_ext/instance_exec.rb:48:in `block in cucumber_instance_exec'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/core_ext/instance_exec.rb:69:in `cucumber_run_with_backtrace_filtering'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/core_ext/instance_exec.rb:36:in `cucumber_instance_exec'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/rb_support/rb_step_definition.rb:62:in `invoke'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/step_match.rb:26:in `invoke'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/step_invocation.rb:63:in `invoke'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/step_invocation.rb:42:in `accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:99:in `block in visit_step'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:98:in `visit_step'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/step_collection.rb:15:in `block in accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/step_collection.rb:14:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/step_collection.rb:14:in `accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:93:in `block in visit_steps'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:92:in `visit_steps'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/scenario.rb:53:in `block (2 levels) in accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime.rb:79:in `block (2 levels) in with_hooks'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime.rb:95:in `before_and_after'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime.rb:78:in `block in with_hooks'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime/support_code.rb:115:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime/support_code.rb:115:in `block (3 levels) in around'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/language_support/language_methods.rb:13:in `block in around'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/language_support/language_methods.rb:95:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/language_support/language_methods.rb:95:in `execute_around'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/language_support/language_methods.rb:12:in `around'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime/support_code.rb:114:in `block (2 levels) in around'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime/support_code.rb:112:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime/support_code.rb:112:in `around'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime.rb:90:in `around'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime.rb:77:in `with_hooks'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/scenario.rb:51:in `block in accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/scenario.rb:106:in `with_visitor'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/scenario.rb:45:in `accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:51:in `block in visit_feature_element'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:50:in `visit_feature_element'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/feature.rb:40:in `block in accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/feature.rb:39:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/feature.rb:39:in `accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:20:in `block in visit_feature'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:19:in `visit_feature'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/features.rb:29:in `block in accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/features.rb:17:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/features.rb:17:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/features.rb:28:in `accept'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:14:in `block in visit_features'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/ast/tree_walker.rb:13:in `visit_features'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/runtime.rb:45:in `run!'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/cli/main.rb:43:in `execute!'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/lib/cucumber/cli/main.rb:20:in `execute'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/gems/cucumber-0.10.0/bin/cucumber:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$ninesixty-vertical\".\A         on line 62 of /Users/matthew/Projects/easybacklog/easybacklog/app/stylesheets/base.scss\A \A 57: span.easy {\A 58:   font-style: italic;\A 59:   padding-right: 0.1em;\A 60: }\A 61: \A 62: $header-height: $ninesixty-vertical * 2;\A 63: header {\A 64:   background-color: #000;\A 65:   padding: $standard-header-padding;\A 66:   color: #666;\A 67:   height: $header-height - $standard-header-padding-height*2;"; }
