/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* generic & fix from reset */
body {
  font-family: Sans-Serif;
  padding: 0em 0em 0.5em 0em;
  font-size: 75%;
  background-color: #DDD; }

h1 {
  font-size: 160%; }
  h1 .description {
    display: inline;
    font-size: 90%;
    color: #666; }

h2 {
  font-size: 135%;
  margin-right: 1em;
  font-family: Sans-Serif;
  font-weight: normal;
  margin-bottom: 0.5em;
  /* style for editable title on backlog page */ }
  h2 input {
    font-size: 1em;
    font-family: Sans-Serif;
    font-weight: normal; }

p {
  margin-bottom: 0.85em; }

ul {
  list-style: disc;
  margin-top: 0.25em; }
  ul li {
    margin-left: 2em;
    margin-bottom: 0.35em; }

b, strong {
  font-weight: bold; }

i {
  font-style: italic; }

sup {
  vertical-align: top;
  font-size: 80%; }

/* dialogs */
.dialog {
  display: none; }

/* header styles */
header {
  overflow: hidden;
  background-color: #000;
  padding: 0.5em 0.5em 0.5em 1em;
  color: #666; }
  header a {
    color: #CCC;
    text-decoration: none; }
    header a:hover {
      color: #FFF;
      text-decoration: underline; }
  header sup {
    color: #DD6; }
  header .main-title-logo {
    float: left;
    font-size: 110%; }
  header .account-info {
    float: right; }

/* main body styles */
section.content {
  clear: both;
  padding: 1em;
  font-size: 110%; }
  section.content .links-container {
    padding-top: 1em; }
  section.content a {
    color: green;
    text-decoration: none;
    /* back link in title area */ }
    section.content a:hover {
      text-decoration: underline;
      color: #004d00; }
    section.content a.button {
      font-weight: normal;
      text-decoration: none;
      color: green;
      border: 2px solid green;
      background-color: #e6ffe6;
      padding: 3px 10px 3px 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
      section.content a.button:hover {
        color: #004d00;
        border-color: #004d00; }
    section.content a.back {
      float: right; }
  section.content input[type=submit] {
    font-weight: normal;
    text-decoration: none;
    color: green;
    border: 2px solid green;
    background-color: #e6ffe6;
    padding: 3px 10px 3px 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 100%; }
    section.content input[type=submit]:hover {
      color: #004d00;
      border-color: #004d00; }

section.title {
  margin: -1em -1em 0 -1em;
  background-color: #edfeed;
  padding: 1em; }

section.main-content-pod {
  background-color: white;
  padding: 1em 1em 1.5em 1em;
  clear: left;
  margin-top: 1em;
  -moz-box-shadow: 5px 5px 5px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
  box-shadow: 5px 5px 5px #888888; }

/* footer styles */
footer {
  padding: 0 1em 1em 1em;
  color: #666; }
  footer a {
    color: #000;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }

/* alerts, notices and form errors */
.notice, .alert {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  top: 3px;
  text-align: center;
  z-index: 5; }

.notice, .alert, .form_errors {
  padding: 3px;
  display: block;
  background-color: #ccffcc;
  font-weight: bold;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.alert, .form_errors {
  background-color: #ffcccc; }

.form_errors {
  padding: 1em;
  margin-bottom: 1em; }

.field_with_errors {
  display: inline; }
  .field_with_errors label {
    color: red; }
  .field_with_errors input {
    border: 2px solid red; }

.small {
  display: inline;
  padding-left: 0.5em;
  font-size: 85%; }
  .small a {
    color: #666; }

/* feedback styling */
#ue-feedback-tab {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888; }

/* on the backlog page we need to move the header to a fixed position */
header.for-backlog {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  header.for-backlog .padded-container {
    overflow: hidden;
    padding: 0.5em 0.5em 0.5em 1em; }

/* hide the drop shadow on main content area for backlog as we already have a drop shadow */
section.for-backlog section.main-content-pod {
  -moz-box-shadow: 0px 0px 0px #888888;
  -webkit-box-shadow: 0px 0px 0px #888888;
  box-shadow: 0px 0px 0px #888888; }

#backlog-container {
  margin-top: 4.5em;
  clear: left;
  font-size: 90%; }

#backlog-data-area {
  position: fixed;
  top: 2em;
  left: 0;
  overflow: hidden;
  height: 4.5em;
  width: 100%;
  background-color: #edfeed;
  /* position editable input as global to avoid jumping */ }
  #backlog-data-area .back-action {
    margin: 0.5em;
    float: right; }
  #backlog-data-area input {
    position: absolute; }
  #backlog-data-area h2.name {
    margin: 0.25em 0 0 0.5em;
    position: relative;
    width: 20em; }
    #backlog-data-area h2.name > div {
      padding: 2px; }
    #backlog-data-area h2.name:hover {
      background-color: #c9fcc9; }
  #backlog-data-area #backlog-settings {
    float: left;
    margin: 0.5em 0 0 0.75em; }
    #backlog-data-area #backlog-settings #backlog-rate, #backlog-data-area #backlog-settings #backlog-velocity {
      float: left;
      overflow: hidden; }
    #backlog-data-area #backlog-settings #backlog-velocity {
      padding-left: 2.5em; }
    #backlog-data-area #backlog-settings .title {
      float: left;
      padding-right: 0.25em;
      padding: 2px; }
    #backlog-data-area #backlog-settings .data {
      float: left;
      padding: 2px; }
      #backlog-data-area #backlog-settings .data:hover {
        background-color: #c9fcc9; }
  #backlog-data-area .backlog-stats {
    background-color: #FFF;
    float: right;
    margin: 0 1px 0 0; }
    #backlog-data-area .backlog-stats div.title {
      padding: 5px 0 5px 5px;
      float: left; }
    #backlog-data-area .backlog-stats div.output {
      padding: 5px;
      float: left; }

#themes-header {
  position: fixed;
  top: 6.5em;
  left: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #DDD;
  border-bottom: 1px solid white;
  -moz-box-shadow: 3px 3px 3px #888888;
  -webkit-box-shadow: 3px 3px 3px #888888;
  box-shadow: 3px 3px 3px #888888; }
  #themes-header .columns {
    margin: 0 2em 0 2em; }
    #themes-header .columns .theme {
      background-color: #DDD;
      width: 12%;
      float: left;
      margin: 0; }
      #themes-header .columns .theme > div {
        padding: 2px;
        border-right: 1px solid white; }
    #themes-header .columns .unique-id {
      background-color: #DDD;
      width: 7%;
      float: left;
      margin: 0; }
      #themes-header .columns .unique-id > div {
        padding: 2px;
        border-right: 1px solid white; }
    #themes-header .columns .user-story, #themes-header .columns .acceptance-criteria, #themes-header .columns .comments {
      background-color: #DDD;
      width: 22%;
      float: left;
      margin: 0; }
      #themes-header .columns .user-story > div, #themes-header .columns .acceptance-criteria > div, #themes-header .columns .comments > div {
        padding: 2px;
        border-right: 1px solid white; }
    #themes-header .columns .score-50, #themes-header .columns .score-90 {
      background-color: #DDD;
      width: 3%;
      float: left;
      margin: 0; }
      #themes-header .columns .score-50 > div, #themes-header .columns .score-90 > div {
        padding: 2px;
        border-right: 1px solid white; }
      #themes-header .columns .score-50 > div, #themes-header .columns .score-90 > div {
        text-align: right; }
    #themes-header .columns .cost-formatted {
      background-color: #DDD;
      width: 5%;
      float: left;
      margin: 0; }
      #themes-header .columns .cost-formatted > div {
        padding: 2px;
        border-right: 1px solid white; }
      #themes-header .columns .cost-formatted > div {
        text-align: right; }
    #themes-header .columns .days-formatted {
      background-color: #DDD;
      margin: 0;
      width: auto; }
      #themes-header .columns .days-formatted > div {
        text-align: right;
        padding: 2px; }

/* stop ordering of themes link which is outside of the ul.themes so that drag & drop reordering does not have this item as the last item */
.themes .stop-ordering {
  display: none;
  padding-top: 5px;
  clear: left; }
  .themes .stop-ordering a {
    font-weight: normal;
    text-decoration: none;
    color: green;
    border: 2px solid green;
    background-color: #e6ffe6;
    padding: 3px 10px 3px 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1px 5px 1px 5px;
    font-size: 90%;
    border-width: 1px; }
    .themes .stop-ordering a:hover {
      color: #004d00;
      border-color: #004d00; }
    .themes .stop-ordering a:hover {
      text-decoration: none; }

ul.themes {
  list-style: none;
  margin: 0;
  /* ensure data elements don't jump when editing */
  /* styling for an empty editable field with edit text in it */
  /* buttons for adding theme / story */
  /* re-ordering target li item */
  /* theme row */ }
  ul.themes .data input, ul.themes .data textarea {
    position: absolute;
    margin-top: -3px; }
  ul.themes .editable-blank {
    font-size: 80%;
    color: #666; }
  ul.themes li.actions {
    clear: left;
    margin: 1em 0 0 0;
    padding-top: 3px; }
    ul.themes li.actions a {
      font-weight: normal;
      text-decoration: none;
      color: green;
      border: 2px solid green;
      background-color: #e6ffe6;
      padding: 3px 10px 3px 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 1px 5px 1px 5px;
      font-size: 90%;
      border-width: 1px; }
      ul.themes li.actions a:hover {
        color: #004d00;
        border-color: #004d00; }
      ul.themes li.actions a.new-acceptance-criterion {
        padding: 0 10px 0 10px; }
  ul.themes li.target-order-highlight {
    background-color: #FFC;
    margin: 0;
    list-style: none;
    height: 2em;
    clear: left; }
  ul.themes li.theme {
    /* add padding to every theme row after the first */
    margin: 0;
    clear: left;
    overflow: hidden;
    /* this box appears when in theme re-order mode */
    /* theme name field */
    /* generic style for moving link */
    /* generic style for deleting link */ }
    ul.themes li.theme:nth-child(1n+2) {
      padding: 5px 0 0 0; }
    ul.themes li.theme .move-theme {
      display: none;
      border: 1px solid #CCC;
      background-color: #EEE;
      text-align: center;
      float: left;
      margin: 1px;
      padding: 2px;
      cursor: move; }
    ul.themes li.theme > div.theme-data {
      width: 12.0%;
      /* all story elements use up % of total width as embedded in another elem */
      float: left;
      margin: 1px 0 1px 0; }
      ul.themes li.theme > div.theme-data > div {
        margin: 0 0 1px 1px;
        padding: 2px;
        border: 1px solid #DDD; }
      ul.themes li.theme > div.theme-data .name > .data {
        margin-left: 0px; }
      ul.themes li.theme > div.theme-data .code {
        color: #666;
        font-size: 80%;
        border: none; }
        ul.themes li.theme > div.theme-data .code .heading {
          float: left;
          padding-right: 0.4em; }
        ul.themes li.theme > div.theme-data .code .data {
          float: left; }
          ul.themes li.theme > div.theme-data .code .data input {
            font-size: 95%; }
      ul.themes li.theme > div.theme-data > .theme-actions {
        border: none;
        margin: 0;
        padding: 0 0 0 3px;
        clear: left; }
    ul.themes li.theme div.move-story {
      border: none;
      cursor: move;
      margin: 0;
      padding-top: 0; }
      ul.themes li.theme div.move-story a {
        font-size: 90%;
        color: #666;
        cursor: move;
        text-decoration: none; }
        ul.themes li.theme div.move-story a:hover {
          text-decoration: none; }
    ul.themes li.theme div.delete-theme, ul.themes li.theme div.delete-story {
      clear: left; }
      ul.themes li.theme div.delete-theme a, ul.themes li.theme div.delete-story a {
        font-size: 90%;
        color: #990000;
        text-decoration: none; }
        ul.themes li.theme div.delete-theme a:hover, ul.themes li.theme div.delete-story a:hover {
          text-decoration: underline; }
    ul.themes li.theme .story-stats {
      background-color: #eeeeee;
      width: 100%;
      text-align: right;
      clear: left;
      margin-top: 0.75em; }
      ul.themes li.theme .story-stats div {
        padding: 5px; }
    ul.themes li.theme > div.stories {
      float: left;
      width: 88%; }
      ul.themes li.theme > div.stories ul.stories {
        list-style: none;
        margin: 0;
        /* story row */ }
        ul.themes li.theme > div.stories ul.stories li.story {
          /* add padding to every story row after the first */
          clear: left;
          margin: 0; }
          ul.themes li.theme > div.stories ul.stories li.story:nth-child(1n+2) {
            padding: 5px 0 0 0; }
          ul.themes li.theme > div.stories ul.stories li.story > .unique-id {
            width: 7.955%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id > .story-actions {
              border: none;
              margin: 0;
              padding: 0 0 0 3px; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id .move-story a .hint {
              display: none;
              position: absolute;
              margin: 0 0 0 -95px;
              width: 80px;
              background: #FFE;
              padding: 3px;
              border: 1px solid #999; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id .move-story a:hover .hint {
              display: block; }
          ul.themes li.theme > div.stories ul.stories li.story > .user-story, ul.themes li.theme > div.stories ul.stories li.story > .acceptance-criteria, ul.themes li.theme > div.stories ul.stories li.story > .comments {
            width: 25%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > .user-story > div, ul.themes li.theme > div.stories ul.stories li.story > .acceptance-criteria > div, ul.themes li.theme > div.stories ul.stories li.story > .comments > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
          ul.themes li.theme > div.stories ul.stories li.story > .score-50, ul.themes li.theme > div.stories ul.stories li.story > .score-90 {
            width: 3.409%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left;
            text-align: right; }
            ul.themes li.theme > div.stories ul.stories li.story > .score-50 > div, ul.themes li.theme > div.stories ul.stories li.story > .score-90 > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
          ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted {
            width: 5.682%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left;
            text-align: right; }
            ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
            ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted > div {
              border: none;
              padding: 3px; }
          ul.themes li.theme > div.stories ul.stories li.story > .days-formatted {
            text-align: right; }
            ul.themes li.theme > div.stories ul.stories li.story > .days-formatted > div {
              margin: 1px 0 1px 1px;
              padding: 3px; }
          ul.themes li.theme > div.stories ul.stories li.story > div.user-story {
            /* ensure div wraps the children */
            /* as a, i want to, so i can text */ }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story > div {
              overflow: hidden; }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story .heading {
              float: left;
              clear: left;
              padding-right: 0.25em;
              color: #666;
              font-style: italic; }
          ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria {
            margin: 0;
            list-style: none;
            /* acceptance criteria row */ }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.criterion {
              margin: 0; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.actions {
              margin-bottom: 4px; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li:last-child {
              list-style: none;
              margin: 0 0 3px 0; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria .index {
              width: 1.5em;
              cursor: move;
              float: left;
              clear: left; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria .data {
              clear: right;
              cursor: text;
              margin-left: 1.5em; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.target-order-highlight {
              height: 1em; }
