.notice, .alert, .form_errors {
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
  display: block;
  background-color: #ccffcc;
  font-weight: bold; }

.alert, .form_errors {
  border-color: red;
  background-color: #ffcccc; }

h2 {
  font-size: 1.2em;
  margin-right: 1em;
  font-family: Arial, Helvetica, Sans;
  font-weight: normal; }
  h2 input {
    font-size: 1em;
    font-family: Arial, Helvetica, Sans;
    font-weight: normal; }
