/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* links and buttons that are styled */
/* area beneath the black toolbar */
/* padding for the black header area */
/* generic & fix from reset */
body {
  font-family: Sans-Serif;
  padding: 0em 0em 0.5em 0em;
  font-size: 75%;
  background-color: #DDD; }

h1 {
  font-family: "Lucida Grande",sans-serif;
  font-size: 160%; }
  h1 .description {
    display: inline;
    font-size: 90%;
    color: #666; }

h2 {
  font-family: "Lucida Grande",sans-serif;
  font-size: 135%;
  font-weight: normal;
  margin-bottom: 0.5em;
  /* style for editable title on backlog page */ }
  h2 input {
    font-size: 1em;
    font-family: Sans-Serif;
    font-weight: normal; }

p {
  margin-bottom: 0.85em; }

ul {
  list-style: disc;
  margin-top: 0.25em; }
  ul li {
    margin-left: 2em;
    margin-bottom: 0.35em; }

b, strong {
  font-weight: bold; }

i {
  font-style: italic; }

sup {
  vertical-align: top;
  font-size: 80%; }

/* dialogs */
.dialog {
  display: none; }

/* header styles */
span.easy {
  font-style: italic;
  padding-right: 0.1em; }

header {
  background-color: #000;
  padding: 6px 12px 6px 12px;
  color: #666;
  height: 25px;
  font-size: 12px;
  margin-bottom: -12px; }
  header a {
    color: #CCC;
    text-decoration: none; }
    header a:hover {
      color: #FFF;
      text-decoration: underline; }
  header sup {
    color: #DD6; }
  header .divider {
    height: 25px;
    float: left;
    border-right: 1px solid #444;
    margin: -6px 1em 0 1em; }
  header .main-title-area .logo {
    float: left;
    font-size: 110%; }
  header .main-title-area .company {
    float: left; }
    header .main-title-area .company .jump-to-company {
      color: #999; }
    header .main-title-area .company ul {
      position: absolute;
      display: none;
      list-style: none;
      z-index: 20;
      background-color: black;
      margin: 0px -24px 0 -12px;
      min-width: 200px; }
      header .main-title-area .company ul li:first-child {
        margin-top: 7px; }
      header .main-title-area .company ul li {
        margin: 0;
        padding: 6px 12px 6px 12px;
        border-top: 1px solid #444; }
    header .main-title-area .company:hover ul {
      display: block; }
  header .account-info {
    float: right; }
    header .account-info > div {
      float: right; }
    header .account-info .divider {
      float: right; }

/* main body styles */
section.content {
  clear: both;
  padding: 12px;
  font-size: 110%; }
  section.content a {
    color: green;
    text-decoration: none; }
    section.content a:hover {
      text-decoration: underline;
      color: #004d00; }
    section.content a.button {
      font-weight: normal;
      text-decoration: none;
      color: green;
      border: 2px solid green;
      background-color: #e6ffe6;
      padding: 3px 10px 3px 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-bottom: 4px; }
      section.content a.button:hover {
        color: #004d00;
        border-color: #004d00; }
  section.content input[type=submit] {
    font-weight: normal;
    text-decoration: none;
    color: green;
    border: 2px solid green;
    background-color: #e6ffe6;
    padding: 3px 10px 3px 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    font-size: 100%; }
    section.content input[type=submit]:hover {
      color: #004d00;
      border-color: #004d00; }

section.title {
  margin: -12px -12px 0 -12px;
  background-color: #edfeed;
  padding: 12px;
  /* back link in title area */ }
  section.title a.back {
    float: right;
    padding-top: 4px;
    padding-left: 0.5em; }
  section.title div.back {
    padding-top: 4px;
    padding-left: 0.5em;
    float: right; }

section.main-content-pod {
  background-color: white;
  padding: 12px 12px 18px 12px;
  clear: left;
  margin-top: 12px;
  overflow: hidden;
  -moz-box-shadow: 5px 5px 5px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
  box-shadow: 5px 5px 5px #888888; }
  section.main-content-pod h2 {
    background-color: #EDF3FE;
    padding: 12px;
    margin: -12px -12px 12px -12px; }

section.side-panel {
  float: right;
  padding: 24px 12px 18px 18px;
  width: 250px; }
  section.side-panel a.button {
    background-color: #FFF;
    border-color: #666;
    color: #333; }
    section.side-panel a.button:hover {
      color: #000;
      border-color: #333; }
  section.side-panel h2 {
    clear: left;
    background-color: #EDF3FE;
    border-bottom: 1px solid #bdd3fb;
    padding: 6px;
    margin: 1em 0 1em 0; }
  section.side-panel .archive-link {
    clear: left;
    padding: 1em 6px 6px 6px;
    border-top: 1px solid #999; }

.progress-icon {
  background: url(/images/progress.gif);
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: block; }

.ui-dialog .progress-icon {
  background: url(/images/progress_on_grey.gif); }

/* footer styles */
footer {
  padding: 0 1em 1em 1em;
  color: #666; }
  footer a {
    color: #000;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }

/* errors, notices, warnings and inline form errors */
#alert-space {
  position: fixed;
  left: 50%;
  overflow: hidden;
  margin-left: -200px;
  width: 450px;
  top: 0;
  z-index: 5;
  border: 3px solid black;
  -moz-border-radius: 9px;
  border-radius: 9px; }
  #alert-space .notice, #alert-space .error, #alert-space .warning {
    display: block;
    text-align: center;
    padding: 3px;
    background-color: #ccffcc;
    font-weight: bold;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  #alert-space .error {
    background-color: #F55656; }
  #alert-space .warning {
    background-color: #FFB300; }

.form_errors {
  display: block;
  font-weight: bold;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFAAAA;
  color: #990000;
  padding: 1em;
  margin-bottom: 1em; }

.field_with_errors {
  display: inline; }
  .field_with_errors label {
    color: red; }
  .field_with_errors input, .field_with_errors textarea, .field_with_errors select {
    border: 2px solid red; }

.form-hint {
  font-style: italic;
  color: #9A9A9A;
  padding-left: 3px;
  font-size: 90%; }

label.spacer {
  padding-top: 1em;
  clear: left;
  display: block; }
label.error {
  color: red;
  padding-left: 0.5em;
  font-size: 90%; }
  label.error:before {
    content: url(/images/inline-alert-icon.png);
    width: 16px;
    height: 16px;
    top: 3px;
    position: relative;
    padding-right: 4px; }
  label.error a {
    color: #FF0000;
    text-decoration: underline; }
    label.error a:hover {
      color: black; }
label.correct:before {
  content: url(/images/inline-correct-icon.png);
  width: 16px;
  height: 16px;
  top: 3px;
  position: relative;
  padding-right: 4px; }

.input-row {
  clear: left; }
  .input-row.for-check-box {
    padding-top: 1em; }

.small {
  display: inline;
  padding-left: 0.5em;
  font-size: 85%; }
  .small a {
    color: #666; }

/* feedback styling */
#ue-feedback-tab {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888; }

p#vtip {
  display: none;
  position: absolute;
  padding: 10px;
  left: 5px;
  font-size: 0.9em;
  background-color: white;
  border: 1px solid #a6c9e2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 9999; }

p#vtip #vtipArrow {
  position: absolute;
  top: -10px;
  left: 5px; }

div.color-picker {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px; }

div.color-picker ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: left; }

div.color-picker ul li {
  display: block;
  width: 15px;
  height: 15px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0px;
  float: left;
  cursor: pointer; }

/* on the backlog page we need to move the header to a fixed position */
header.for-backlog {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  z-index: 1; }
  header.for-backlog .padded-container {
    overflow: hidden;
    padding: 6px 12px 6px 12px; }

/* hide the drop shadow on main content area for backlog as we already have a drop shadow */
section.for-backlog section.main-content-pod {
  -moz-box-shadow: 0px 0px 0px #888888;
  -webkit-box-shadow: 0px 0px 0px #888888;
  box-shadow: 0px 0px 0px #888888; }

#backlog-container {
  margin-top: 60px;
  clear: left;
  font-size: 90%; }

#backlog-data-area {
  position: fixed;
  top: 24px;
  left: 0;
  overflow: hidden;
  height: 4.5em;
  width: 100%;
  background-color: #edfeed;
  z-index: 1;
  /* position editable input as global to avoid jumping */ }
  #backlog-data-area .actions {
    float: right;
    overflow: hidden;
    padding: 0.3em 17px 0.2em 0;
    margin-top: 0.4em; }
    #backlog-data-area .actions a {
      display: block;
      float: left; }
    #backlog-data-area .actions .divider {
      border-right: 1px solid #AADDAA;
      height: 1em;
      padding-left: 1em;
      margin-right: 1em;
      margin-top: 0em;
      float: left; }
  #backlog-data-area input, #backlog-data-area textarea {
    position: absolute; }
  #backlog-data-area h2.name {
    margin: 2px 0 0 10px;
    position: relative;
    width: 20em;
    background-color: transparent;
    height: 1.25em;
    padding: 0;
    height: 28px; }
    #backlog-data-area h2.name > div {
      padding: 2px; }
    #backlog-data-area h2.name:hover {
      background-color: #c9fcc9; }
  #backlog-data-area .snapshot {
    margin-top: 3px;
    float: left;
    clear: left;
    padding-left: 15px; }
    #backlog-data-area .snapshot .locked {
      float: left;
      overflow: hidden;
      position: relative;
      top: -2px;
      left: -5px; }
    #backlog-data-area .snapshot .title {
      color: #999;
      float: left; }
    #backlog-data-area .snapshot .selector {
      float: left;
      margin-top: -5px; }
      #backlog-data-area .snapshot .selector select {
        background-color: #edfeed;
        border: 1px solid #0aaf0a; }
    #backlog-data-area .snapshot .new, #backlog-data-area .snapshot .compare {
      float: left;
      width: 16px;
      height: 16px;
      margin-top: -3px;
      cursor: pointer; }
  #backlog-data-area #backlog-settings {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 3px 6px 3px 3px;
    color: #363; }
    #backlog-data-area #backlog-settings #backlog-rate, #backlog-data-area #backlog-settings #backlog-velocity {
      float: left;
      overflow: hidden; }
    #backlog-data-area #backlog-settings #backlog-velocity {
      padding-left: 0.5em;
      border-left: 1px solid #ADA;
      margin-left: 0.5em; }
    #backlog-data-area #backlog-settings .title {
      float: left;
      padding: 2px 0.25em 2px 0;
      color: #999; }
    #backlog-data-area #backlog-settings .data {
      float: left;
      padding: 2px; }
      #backlog-data-area #backlog-settings .data:hover {
        background-color: #c9fcc9; }
      #backlog-data-area #backlog-settings .data:hover {
        color: black; }
  #backlog-data-area .backlog-stats {
    background-color: #FFF;
    float: right;
    margin: 0 12px 0 0;
    -moz-box-shadow: 0px 0px 4px #66cc66;
    -webkit-box-shadow: 0px 0px 4px #66cc66;
    box-shadow: 0px 0px 4px #66cc66; }
    #backlog-data-area .backlog-stats div.title {
      padding: 5px 0 5px 5px;
      float: left; }
    #backlog-data-area .backlog-stats div.output {
      padding: 5px;
      float: left; }

/* when viewing a snapshot don't make these fields look editable */
#backlog-data-area.not-editable h2.name:hover {
  background: transparent; }
#backlog-data-area.not-editable #backlog-settings .data:hover {
  background: transparent;
  color: inherit; }

#themes-header {
  position: fixed;
  z-index: 1;
  top: 76px;
  left: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #DDD;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  -moz-box-shadow: 3px 3px 3px #888888;
  -webkit-box-shadow: 3px 3px 3px #888888;
  box-shadow: 3px 3px 3px #888888; }
  #themes-header .columns {
    margin: 0 24px 0 24px; }
    #themes-header .columns .theme {
      background-color: #DDD;
      width: 12%;
      float: left;
      margin: 0; }
      #themes-header .columns .theme > div {
        padding: 3px 3px 1px 5px;
        border-right: 1px solid white; }
    #themes-header .columns .unique-id {
      background-color: #DDD;
      width: 7%;
      float: left;
      margin: 0; }
      #themes-header .columns .unique-id > div {
        padding: 3px 3px 1px 5px;
        border-right: 1px solid white; }
    #themes-header .columns .user-story, #themes-header .columns .acceptance-criteria, #themes-header .columns .comments {
      background-color: #DDD;
      width: 22%;
      float: left;
      margin: 0; }
      #themes-header .columns .user-story > div, #themes-header .columns .acceptance-criteria > div, #themes-header .columns .comments > div {
        padding: 3px 3px 1px 5px;
        border-right: 1px solid white; }
    #themes-header .columns .score-50, #themes-header .columns .score-90 {
      background-color: #DDD;
      width: 3%;
      float: left;
      margin: 0; }
      #themes-header .columns .score-50 > div, #themes-header .columns .score-90 > div {
        padding: 3px 3px 1px 5px;
        border-right: 1px solid white; }
    #themes-header .columns .score {
      background-color: #DDD;
      width: 6%;
      float: left;
      margin: 0; }
      #themes-header .columns .score > div {
        padding: 3px 3px 1px 5px;
        border-right: 1px solid white; }
      #themes-header .columns .score > div {
        text-align: right; }
    #themes-header .columns .cost-formatted {
      background-color: #DDD;
      width: 5%;
      float: left;
      margin: 0; }
      #themes-header .columns .cost-formatted > div {
        padding: 3px 3px 1px 5px;
        border-right: 1px solid white; }
      #themes-header .columns .cost-formatted > div {
        text-align: right; }
    #themes-header .columns .days-formatted {
      background-color: #DDD;
      margin: 0;
      width: auto; }
      #themes-header .columns .days-formatted > div {
        text-align: right;
        padding: 3px 3px 1px 5px; }

#themes-container {
  overflow: hidden; }
  #themes-container .loading {
    margin: 20px auto 10px auto;
    text-align: center;
    width: 80px; }
    #themes-container .loading .progress-icon {
      float: left; }
    #themes-container .loading p {
      padding-top: 2px; }

/* stop ordering of themes link which is outside of the ul.themes so that drag & drop reordering does not have this item as the last item */
.themes .stop-ordering {
  display: none;
  padding: 5px 0 5px 0;
  clear: left; }
  .themes .stop-ordering a {
    font-weight: normal;
    text-decoration: none;
    color: green;
    border: 2px solid green;
    background-color: #e6ffe6;
    padding: 3px 10px 3px 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 1px 5px 1px 5px;
    font-size: 90%;
    border-width: 1px; }
    .themes .stop-ordering a:hover {
      color: #004d00;
      border-color: #004d00; }
    .themes .stop-ordering a:hover {
      text-decoration: none; }

ul.themes {
  list-style: none;
  margin: 0;
  padding-bottom: 5px;
  /* ensure data elements don't jump when editing */
  /* styling for an empty editable field with edit text in it */
  /* buttons for adding theme / story */
  /* re-ordering target li item */
  /* theme row */ }
  ul.themes .data input, ul.themes .data textarea {
    position: absolute;
    margin-top: -3px;
    font-family: Sans-Serif;
    font-size: 100%;
    z-index: 2; }
  ul.themes .editable-blank {
    font-size: 80%;
    color: #666; }
  ul.themes li.actions {
    clear: left;
    margin: 1em 0 0 0;
    padding: 3px; }
    ul.themes li.actions a {
      font-weight: normal;
      text-decoration: none;
      color: green;
      border: 2px solid green;
      background-color: #e6ffe6;
      padding: 3px 10px 3px 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-bottom: 4px;
      padding: 1px 5px 1px 5px;
      font-size: 90%;
      border-width: 1px; }
      ul.themes li.actions a:hover {
        color: #004d00;
        border-color: #004d00; }
      ul.themes li.actions a.new-acceptance-criterion {
        border-color: #AAA;
        background-color: #DDD;
        padding: 0 0px 0 1px;
        margin: 3px -3px 0 0; }
  ul.themes li.target-order-highlight {
    background-color: #FFC;
    margin: 0;
    list-style: none;
    height: 2em;
    clear: left; }
  ul.themes li.theme {
    /* add padding to every theme row after the first */
    margin: 0;
    clear: left;
    overflow: hidden;
    /* this box appears when in theme re-order mode */
    /* theme name field */
    /* generic style for moving link */
    /* generic style for deleting link */ }
    ul.themes li.theme:nth-child(1n+2) {
      padding: 5px 0 0 0; }
    ul.themes li.theme .move-theme {
      display: none;
      border: 1px solid #CCC;
      background-color: #EEE;
      text-align: center;
      float: left;
      margin: 1px;
      padding: 2px;
      cursor: move;
      overflow: hidden; }
      ul.themes li.theme .move-theme .icon {
        float: left; }
      ul.themes li.theme .move-theme .instructions {
        float: left;
        padding-top: 3px; }
    ul.themes li.theme > div.theme-data {
      width: 12.0%;
      /* all story elements use up % of total width as embedded in another elem */
      float: left;
      margin: 2px 0 1px 0; }
      ul.themes li.theme > div.theme-data > div {
        margin: 0 0 1px 1px;
        padding: 2px;
        border: 1px solid #DDD; }
      ul.themes li.theme > div.theme-data > div {
        margin-right: 2px; }
      ul.themes li.theme > div.theme-data .name > .data {
        margin: 0px; }
      ul.themes li.theme > div.theme-data .code {
        color: #666;
        font-size: 80%;
        border: none;
        padding: 2px 0 0 0; }
        ul.themes li.theme > div.theme-data .code .heading {
          float: left;
          padding: 2px 0.4em 2px 0.5em; }
        ul.themes li.theme > div.theme-data .code .data {
          float: left;
          padding: 2px; }
          ul.themes li.theme > div.theme-data .code .data input, ul.themes li.theme > div.theme-data .code .data textarea {
            font-size: 95%; }
          ul.themes li.theme > div.theme-data .code .data:hover {
            background-color: #CCC;
            color: black; }
      ul.themes li.theme > div.theme-data > .theme-actions {
        border: none;
        margin: 0;
        padding: 0;
        clear: left; }
    ul.themes li.theme div.move-story {
      border: none;
      margin: 0;
      padding-top: 0;
      float: left; }
      ul.themes li.theme div.move-story a {
        cursor: move; }
    ul.themes li.theme div.delete-theme, ul.themes li.theme div.delete-story, ul.themes li.theme div.duplicate-story, ul.themes li.theme div.re-number-stories {
      float: left; }
    ul.themes li.theme div.color-picker-icon {
      float: left;
      padding: 3px;
      cursor: pointer; }
      ul.themes li.theme div.color-picker-icon a {
        width: 11px;
        height: 11px;
        background: url(/images/color-picker.png);
        display: block; }
    ul.themes li.theme .theme-stats {
      width: 100%;
      clear: left;
      overflow: hidden;
      margin: 2px 0 8px 0; }
      ul.themes li.theme .theme-stats .container {
        margin-left: 7.955%;
        overflow: hidden;
        background-color: #eeeeee; }
        ul.themes li.theme .theme-stats .container div.title {
          padding: 5px;
          float: left;
          color: #666; }
        ul.themes li.theme .theme-stats .container div.metrics {
          padding: 5px;
          float: right; }
    ul.themes li.theme > div.stories {
      float: left;
      width: 88%; }
      ul.themes li.theme > div.stories ul.stories {
        list-style: none;
        margin: 0;
        /* story row */ }
        ul.themes li.theme > div.stories ul.stories li.actions {
          margin: 2px 0 1em 3px;
          position: absolute; }
        ul.themes li.theme > div.stories ul.stories li.story {
          padding: 2px 0 5px 1px;
          overflow: hidden;
          clear: left;
          margin: 0; }
          ul.themes li.theme > div.stories ul.stories li.story > .unique-id {
            width: 7.955%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id > .story-actions {
              border: none;
              margin: 0;
              padding: 0 0 0 3px; }
            ul.themes li.theme > div.stories ul.stories li.story > .unique-id > div.data {
              background-color: rgba(255, 255, 255, 0.6); }
          ul.themes li.theme > div.stories ul.stories li.story > .user-story, ul.themes li.theme > div.stories ul.stories li.story > .acceptance-criteria, ul.themes li.theme > div.stories ul.stories li.story > .comments {
            width: 25%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > .user-story > div, ul.themes li.theme > div.stories ul.stories li.story > .acceptance-criteria > div, ul.themes li.theme > div.stories ul.stories li.story > .comments > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
            ul.themes li.theme > div.stories ul.stories li.story > .user-story > div, ul.themes li.theme > div.stories ul.stories li.story > .acceptance-criteria > div, ul.themes li.theme > div.stories ul.stories li.story > .comments > div {
              background-color: rgba(255, 255, 255, 0.6);
              min-height: 1.1em; }
          ul.themes li.theme > div.stories ul.stories li.story > .score-50, ul.themes li.theme > div.stories ul.stories li.story > .score-90, ul.themes li.theme > div.stories ul.stories li.story > .score {
            width: 3.409%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > .score-50 > div, ul.themes li.theme > div.stories ul.stories li.story > .score-90 > div, ul.themes li.theme > div.stories ul.stories li.story > .score > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
            ul.themes li.theme > div.stories ul.stories li.story > .score-50 > div, ul.themes li.theme > div.stories ul.stories li.story > .score-90 > div, ul.themes li.theme > div.stories ul.stories li.story > .score > div {
              background-color: rgba(255, 255, 255, 0.6);
              min-height: 1.1em; }
          ul.themes li.theme > div.stories ul.stories li.story > .score {
            width: 6.818%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left; }
            ul.themes li.theme > div.stories ul.stories li.story > .score > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
          ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted {
            width: 5.682%;
            /* all story elements use up % of total width as embedded in another elem */
            float: left;
            text-align: right; }
            ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted > div {
              margin: 0 0 1px 1px;
              padding: 2px;
              border: 1px solid #DDD; }
            ul.themes li.theme > div.stories ul.stories li.story > .cost-formatted > div {
              border: none;
              padding: 3px; }
          ul.themes li.theme > div.stories ul.stories li.story > .days-formatted {
            text-align: right; }
            ul.themes li.theme > div.stories ul.stories li.story > .days-formatted > div {
              margin: 1px 0 1px 1px;
              padding: 3px; }
          ul.themes li.theme > div.stories ul.stories li.story > div.user-story {
            /* ensure div wraps the children */
            /* as a, i want to, so i can text */ }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story > div {
              overflow: hidden; }
            ul.themes li.theme > div.stories ul.stories li.story > div.user-story .heading {
              float: left;
              clear: left;
              padding-right: 0.25em;
              color: #666;
              font-style: italic; }
          ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria {
            margin: 0;
            list-style: none;
            /* acceptance criteria row */ }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.criterion {
              margin: 0; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.actions {
              margin-bottom: 4px;
              position: relative; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li:last-child {
              list-style: none;
              margin: 0 0 3px 0; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria .index {
              width: 1.5em;
              cursor: move;
              float: left;
              clear: left; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria .data {
              clear: right;
              cursor: text;
              margin-left: 1.5em; }
            ul.themes li.theme > div.stories ul.stories li.story ul.acceptance-criteria li.target-order-highlight {
              height: 1em; }

/* when viewing a snapshot don't make these fields look editable */
#backlog-container.not-editable ul.themes li.theme .theme-data .code .data:hover {
  background: transparent;
  color: inherit; }

#dialog-print .progress-placeholder {
  font-weight: bold; }

#dialog-create-snapshot div.progress-area, #dialog-create-snapshot div.progress-area.field_with_errors {
  margin-left: 23px;
  display: block; }
#dialog-create-snapshot input[type=text] {
  width: 15em; }

#loading-new-snapshot {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #loading-new-snapshot div.background {
    z-index: 103; }
  #loading-new-snapshot .progress-icon {
    float: left;
    margin-right: 0.5em; }
  #loading-new-snapshot div.loading {
    position: absolute;
    background-color: white;
    margin: 45% 0 0 45%;
    width: 90px;
    height: 16px;
    padding: 10px;
    background-color: white;
    border: 1px solid #999;
    z-index: 105; }

#dialog-compare-snapshot div.elements, #dialog-compare-snapshot div.error-message {
  margin-left: 23px;
  display: block; }
#dialog-compare-snapshot div.error-message {
  color: red; }
#dialog-compare-snapshot .error-alert {
  float: left;
  margin-right: 10px; }

/* Company dashboard home */
ul.backlog-list, ul.your-backlog-list {
  list-style: none;
  overflow: hidden;
  padding-bottom: 1em; }
  ul.backlog-list li, ul.your-backlog-list li {
    margin: 0 0 0.5em 0;
    float: left;
    clear: left;
    overflow: hidden; }
    ul.backlog-list li .name, ul.your-backlog-list li .name {
      padding-bottom: 0.25em;
      float: left; }
    ul.backlog-list li .action, ul.your-backlog-list li .action {
      float: left;
      overflow: hidden; }
    ul.backlog-list li .last-update, ul.your-backlog-list li .last-update {
      padding: 0 0.25em 0.25em 0.25em;
      color: #999;
      float: left; }

ul.your-backlog-list {
  margin-bottom: 0.5em; }
  ul.your-backlog-list li {
    margin: 0 0 0.25em 6px; }
    ul.your-backlog-list li a {
      color: #333; }
      ul.your-backlog-list li a:hover {
        color: #000; }

/* Home and invite landing page */
#home, #invite {
  overflow: hidden;
  padding-bottom: 0.5em;
  margin: 12px -12px 12px -12px;
  padding: 12px;
  /* 3 panels on the home page */ }
  #home .sign-up, #invite .sign-up {
    width: 400px;
    float: left;
    padding: 10px 10px 15px 10px;
    background-color: #CFC;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    #home .sign-up .button, #invite .sign-up .button {
      background-color: white; }
    #home .sign-up h2, #invite .sign-up h2 {
      background-color: transparent; }
  #home .or, #invite .or {
    width: 40px;
    float: left;
    font-weight: bold;
    font-size: 130%;
    padding: 90px 0 0 10px;
    text-align: center; }
  #home .login, #invite .login {
    width: 280px;
    margin-left: 480px;
    padding: 10px;
    background-color: #D6D6D6;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    #home .login input[type=submit], #invite .login input[type=submit] {
      background-color: #FFF;
      border-color: #666;
      color: #333; }
      #home .login input[type=submit]:hover, #invite .login input[type=submit]:hover {
        color: #000;
        border-color: #333; }
    #home .login h2, #invite .login h2 {
      background-color: transparent; }
  #home ul, #invite ul {
    padding-bottom: 1em; }

/* Company users management */
table.users, table.invites {
  border-collapse: collapse; }
  table.users th, table.invites th {
    border: 1px solid white;
    background-color: #CCC;
    padding: 4px;
    font-weight: bold; }
  table.users td, table.invites td {
    border: 1px solid white;
    background-color: #EEE;
    padding: 4px;
    height: 1.2em; }
    table.users td.action, table.invites td.action {
      background-color: white; }
    table.users td.admin, table.invites td.admin {
      padding-left: 2em; }

#new-user textarea {
  font-family: Sans-Serif; }
  #new-user textarea#emails.empty {
    color: #666; }

/* Sign up for a new account & register in same action page */
#sign-up, #invite {
  padding-top: 1em; }
  #sign-up .data-area, #invite .data-area {
    padding: 4px 0 20px 4px; }
    #sign-up .data-area.no-padding, #invite .data-area.no-padding {
      padding-bottom: 0; }
  #sign-up input[type=text], #sign-up input[type=password], #invite input[type=text], #invite input[type=password] {
    width: 15em; }
  #sign-up input[type=text]#account_default_rate, #sign-up input[type=text]#account_default_velocity, #invite input[type=text]#account_default_rate, #invite input[type=text]#account_default_velocity {
    width: 6em; }
  #sign-up #company_name, #invite #company_name {
    font-size: 1.3em;
    font-weight: bold; }

#invite label.error {
  position: absolute;
  float: left;
  width: 15em; }
