/* Company dashboard home */
ul.backlog-list {
  list-style: none;
  padding-bottom: 1em; }
  ul.backlog-list li {
    margin: 0 0 0.5em 0; }
    ul.backlog-list li .last-update {
      color: #999;
      display: inline; }
    ul.backlog-list li .action {
      display: inline;
      font-size: 85%; }

/* Home and invite landing page */
#home, #invite {
  overflow: hidden;
  padding-bottom: 0.5em;
  /* 3 panels on the home page */ }
  #home .sign-up, #invite .sign-up {
    width: 400px;
    float: left;
    padding: 10px 10px 15px 10px;
    background-color: #CFC;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    #home .sign-up .button, #invite .sign-up .button {
      background-color: white; }
    #home .sign-up h2, #invite .sign-up h2 {
      background-color: transparent; }
  #home .or, #invite .or {
    width: 40px;
    float: left;
    font-weight: bold;
    font-size: 130%;
    padding: 90px 0 0 10px;
    text-align: center; }
  #home .login, #invite .login {
    width: 280px;
    margin-left: 480px;
    padding: 10px;
    background-color: #D6D6D6;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    #home .login input[type=submit], #invite .login input[type=submit] {
      background-color: #FFF;
      border-color: #666;
      color: #333; }
    #home .login h2, #invite .login h2 {
      background-color: transparent; }
  #home ul, #invite ul {
    padding-bottom: 1em; }

/* Company users management */
table.users, table.invites {
  border-collapse: collapse; }
  table.users th, table.invites th {
    border: 1px solid white;
    background-color: #CCC;
    padding: 4px;
    font-weight: bold; }
  table.users td, table.invites td {
    border: 1px solid white;
    background-color: #EEE;
    padding: 4px;
    height: 1.2em; }
    table.users td.action, table.invites td.action {
      background-color: white; }
    table.users td.admin, table.invites td.admin {
      padding-left: 2em; }

#new-user textarea {
  font-family: Sans-Serif; }
  #new-user textarea#emails.empty {
    color: #666; }

/* Sign up for a new account & register in same action page */
#sign-up .data-area, #invite .data-area {
  padding: 4px 0 20px 4px; }
  #sign-up .data-area.no-padding, #invite .data-area.no-padding {
    padding-bottom: 0; }
#sign-up input[type=text], #sign-up input[type=password], #invite input[type=text], #invite input[type=password] {
  width: 15em; }
#sign-up input[type=text]#account_default_rate, #sign-up input[type=text]#account_default_velocity, #invite input[type=text]#account_default_rate, #invite input[type=text]#account_default_velocity {
  width: 6em; }

#invite label.error {
  position: absolute;
  float: left;
  width: 15em; }
