/* Company dashboard home */
ul.backlog-list {
  list-style: none;
  padding-bottom: 1em; }
  ul.backlog-list li {
    margin: 0 0 0.5em 0; }
    ul.backlog-list li .last-update {
      color: #999;
      display: inline; }
    ul.backlog-list li .action {
      display: inline;
      font-size: 85%; }

/* Home page */
#home {
  /* 3 panels on the home page */ }
  #home .sign-up {
    width: 400px;
    float: left;
    padding: 10px 10px 15px 10px;
    background-color: #CFC;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    #home .sign-up .button {
      background-color: white; }
  #home .or {
    width: 40px;
    float: left;
    font-weight: bold;
    font-size: 130%;
    padding: 90px 0 0 10px;
    text-align: center; }
  #home .login {
    width: 280px;
    margin-left: 480px;
    padding: 10px;
    background-color: #D6D6D6;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    #home .login input[type=submit] {
      background-color: #FFF;
      border-color: #666;
      color: #333; }
  #home ul {
    padding-bottom: 1em; }
