/* reset */
/* line 14, ../../app/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../../app/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../app/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 30, ../../app/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../../app/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../../app/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../../app/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* links and buttons that are styled */
/* area beneath the black toolbar */
/* padding for the black header area */
/* generic & fix from reset */
/* line 2, ../../app/stylesheets/base.scss */
body {
  font-family: Sans-Serif;
  padding: 0em 0em 0.5em 0em;
  font-size: 75%;
  background-color: #DDD;
}

/* line 9, ../../app/stylesheets/base.scss */
h1 {
  font-family: "Lucida Grande",sans-serif;
  font-size: 160%;
}
/* line 12, ../../app/stylesheets/base.scss */
h1 .description {
  display: inline;
  font-size: 90%;
  color: #666;
}

/* line 19, ../../app/stylesheets/base.scss */
h2 {
  font-family: "Lucida Grande",sans-serif;
  font-size: 135%;
  font-weight: normal;
  margin-bottom: 0.5em;
  /* style for editable title on backlog page */
}
/* line 25, ../../app/stylesheets/base.scss */
h2 input {
  font-size: 1em;
  font-family: Sans-Serif;
  font-weight: normal;
}

/* line 32, ../../app/stylesheets/base.scss */
p {
  margin-bottom: 0.85em;
}

/* line 36, ../../app/stylesheets/base.scss */
ul {
  list-style: disc;
  margin-top: 0.25em;
}
/* line 39, ../../app/stylesheets/base.scss */
ul li {
  margin-left: 2em;
  margin-bottom: 0.35em;
}

/* line 45, ../../app/stylesheets/base.scss */
b, strong {
  font-weight: bold;
}

/* line 49, ../../app/stylesheets/base.scss */
i {
  font-style: italic;
}

/* line 53, ../../app/stylesheets/base.scss */
sup {
  vertical-align: top;
  font-size: 80%;
}

/* dialogs */
/* line 59, ../../app/stylesheets/base.scss */
.dialog {
  display: none;
}

/* header styles */
/* line 64, ../../app/stylesheets/base.scss */
span.easy {
  font-style: italic;
  padding-right: 0.1em;
}

/* line 69, ../../app/stylesheets/base.scss */
header {
  background-color: #000;
  padding: 6px 12px 6px 12px;
  color: #666;
  height: 25px;
  font-size: 12px;
  margin-bottom: -12px; }
  header a {
    color: #CCC;
    text-decoration: none; }
    header a:hover {
      color: #FFF;
      text-decoration: underline; }
  header sup {
    color: #DD6; }
  header .divider {
    height: 25px;
    float: left;
    border-right: 1px solid #444;
    margin: -6px 1em 0 1em; }
  header .main-title-area .logo {
    float: left;
    font-size: 110%; }
  header .main-title-area .account {
    float: left; }
    header .main-title-area .account .jump-to-account {
      color: #999; }
    header .main-title-area .account ul {
      position: absolute;
      display: none;
      list-style: none;
      z-index: 20;
      background-color: black;
      margin: 0px -24px 0 -12px;
      min-width: 200px; }
      header .main-title-area .account ul li:first-child {
        margin-top: 7px; }
      header .main-title-area .account ul li {
        margin: 0;
        padding: 6px 12px 6px 12px;
        border-top: 1px solid #444; }
    header .main-title-area .account:hover ul {
      display: block; }
  header .account-info {
    float: right; }
    header .account-info > div {
      float: right; }
    header .account-info .divider {
      float: right; }
  margin-bottom: -12px;
}
/* line 77, ../../app/stylesheets/base.scss */
header a {
  color: #CCC;
  text-decoration: none;
}
/* line 80, ../../app/stylesheets/base.scss */
header a:hover {
  color: #FFF;
  text-decoration: underline;
}
/* line 86, ../../app/stylesheets/base.scss */
header sup {
  color: #DD6;
}
/* line 90, ../../app/stylesheets/base.scss */
header .divider {
  height: 25px;
  float: left;
  border-right: 1px solid #444;
  margin: -6px 1em 0 1em;
}
/* line 98, ../../app/stylesheets/base.scss */
header .main-title-area .logo {
  float: left;
  font-size: 110%;
}
/* line 102, ../../app/stylesheets/base.scss */
header .main-title-area .company {
  float: left;
}
/* line 104, ../../app/stylesheets/base.scss */
header .main-title-area .company .jump-to-company {
  color: #999;
}
/* line 107, ../../app/stylesheets/base.scss */
header .main-title-area .company ul {
  position: absolute;
  display: none;
  list-style: none;
  z-index: 20;
  background-color: black;
  margin: 0px -24px 0 -12px;
  min-width: 200px;
}
/* line 115, ../../app/stylesheets/base.scss */
header .main-title-area .company ul li:first-child {
  margin-top: 7px;
}
/* line 118, ../../app/stylesheets/base.scss */
header .main-title-area .company ul li {
  margin: 0;
  padding: 6px 12px 6px 12px;
  border-top: 1px solid #444;
}
/* line 125, ../../app/stylesheets/base.scss */
header .main-title-area .company:hover ul {
  display: block;
}
/* line 132, ../../app/stylesheets/base.scss */
header .account-info {
  float: right;
}
/* line 134, ../../app/stylesheets/base.scss */
header .account-info > div {
  float: right;
}
/* line 137, ../../app/stylesheets/base.scss */
header .account-info .divider {
  float: right;
}

/* main body styles */
/* line 144, ../../app/stylesheets/base.scss */
section.content {
  clear: both;
  padding: 12px;
  font-size: 110%;
}
/* line 148, ../../app/stylesheets/base.scss */
section.content a {
  color: green;
  text-decoration: none;
}
/* line 151, ../../app/stylesheets/base.scss */
section.content a:hover {
  text-decoration: underline;
  color: #004d00;
}
/* line 155, ../../app/stylesheets/base.scss */
section.content a.button {
  font-weight: normal;
  text-decoration: none;
  color: green;
  border: 2px solid green;
  background-color: #e6ffe6;
  padding: 3px 10px 3px 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
}
/* line 22, ../../app/stylesheets/mixins_and_constants.scss */
section.content a.button:hover {
  color: #004d00;
  border-color: #004d00;
}
/* line 159, ../../app/stylesheets/base.scss */
section.content input[type=submit] {
  font-weight: normal;
  text-decoration: none;
  color: green;
  border: 2px solid green;
  background-color: #e6ffe6;
  padding: 3px 10px 3px 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  font-size: 100%;
}
/* line 22, ../../app/stylesheets/mixins_and_constants.scss */
section.content input[type=submit]:hover {
  color: #004d00;
  border-color: #004d00;
}

/* line 165, ../../app/stylesheets/base.scss */
section.title {
  margin: -12px -12px 0 -12px;
  background-color: #edfeed;
  padding: 12px;
  /* back link in title area */
}
/* line 170, ../../app/stylesheets/base.scss */
section.title a.back {
  float: right;
  padding-top: 4px;
  padding-left: 0.5em;
}
/* line 175, ../../app/stylesheets/base.scss */
section.title div.back {
  padding-top: 4px;
  padding-left: 0.5em;
  float: right;
}

/* line 181, ../../app/stylesheets/base.scss */
section.main-content-pod {
  background-color: white;
  padding: 12px 12px 18px 12px;
  clear: left;
  margin-top: 12px;
  overflow: hidden;
  -moz-box-shadow: 5px 5px 5px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
  box-shadow: 5px 5px 5px #888888;
}
/* line 189, ../../app/stylesheets/base.scss */
section.main-content-pod h2 {
  background-color: #EDF3FE;
  padding: 12px;
  margin: -12px -12px 12px -12px;
}

/* line 196, ../../app/stylesheets/base.scss */
section.side-panel {
  float: right;
  padding: 24px 12px 18px 18px;
  width: 250px;
}
/* line 200, ../../app/stylesheets/base.scss */
section.side-panel a.button {
  background-color: #FFF;
  border-color: #666;
  color: #333;
}
/* line 32, ../../app/stylesheets/mixins_and_constants.scss */
section.side-panel a.button:hover {
  color: #000;
  border-color: #333;
}
/* line 203, ../../app/stylesheets/base.scss */
section.side-panel h2 {
  clear: left;
  background-color: #EDF3FE;
  border-bottom: 1px solid #bdd3fb;
  padding: 6px;
  margin: 1em 0 1em 0;
}
/* line 210, ../../app/stylesheets/base.scss */
section.side-panel .archive-link {
  clear: left;
  padding: 1em 6px 6px 6px;
  border-top: 1px solid #999;
}

/* line 217, ../../app/stylesheets/base.scss */
.progress-icon {
  background: url(/images/progress.gif);
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: block;
}

/* line 224, ../../app/stylesheets/base.scss */
.ui-dialog .progress-icon {
  background: url(/images/progress_on_grey.gif);
}

/* footer styles */
/* line 229, ../../app/stylesheets/base.scss */
footer {
  padding: 0 1em 1em 1em;
  color: #666;
}
/* line 232, ../../app/stylesheets/base.scss */
footer a {
  color: #000;
  text-decoration: none;
}
/* line 235, ../../app/stylesheets/base.scss */
footer a:hover {
  text-decoration: underline;
}

/* errors, notices, warnings and inline form errors */
/* line 242, ../../app/stylesheets/base.scss */
#alert-space {
  position: fixed;
  left: 50%;
  overflow: hidden;
  margin-left: -200px;
  width: 450px;
  top: 0;
  z-index: 5;
  border: 3px solid black;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
/* line 253, ../../app/stylesheets/base.scss */
#alert-space .notice, #alert-space .error, #alert-space .warning {
  display: block;
  text-align: center;
  padding: 3px;
  background-color: #ccffcc;
  font-weight: bold;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/* line 262, ../../app/stylesheets/base.scss */
#alert-space .error {
  background-color: #F55656;
}
/* line 265, ../../app/stylesheets/base.scss */
#alert-space .warning {
  background-color: #FFB300;
}

/* line 270, ../../app/stylesheets/base.scss */
.form_errors {
  display: block;
  font-weight: bold;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFAAAA;
  color: #990000;
  padding: 1em;
  margin-bottom: 1em;
}

/* line 281, ../../app/stylesheets/base.scss */
.field_with_errors {
  display: inline;
}
/* line 283, ../../app/stylesheets/base.scss */
.field_with_errors label {
  color: red;
}
/* line 286, ../../app/stylesheets/base.scss */
.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  border: 2px solid red;
}

/* line 291, ../../app/stylesheets/base.scss */
.form-hint {
  font-style: italic;
  color: #9A9A9A;
  padding-left: 3px;
  font-size: 90%;
}

/* line 299, ../../app/stylesheets/base.scss */
label.spacer {
  padding-top: 1em;
  clear: left;
  display: block;
}
/* line 304, ../../app/stylesheets/base.scss */
label.error {
  color: red;
  padding-left: 0.5em;
  font-size: 90%;
}
/* line 308, ../../app/stylesheets/base.scss */
label.error:before {
  content: url(/images/inline-alert-icon.png);
  width: 16px;
  height: 16px;
  top: 3px;
  position: relative;
  padding-right: 4px;
}
/* line 316, ../../app/stylesheets/base.scss */
label.error a {
  color: #FF0000;
  text-decoration: underline;
}
/* line 319, ../../app/stylesheets/base.scss */
label.error a:hover {
  color: black;
}
/* line 325, ../../app/stylesheets/base.scss */
label.correct:before {
  content: url(/images/inline-correct-icon.png);
  width: 16px;
  height: 16px;
  top: 3px;
  position: relative;
  padding-right: 4px;
}

/* line 336, ../../app/stylesheets/base.scss */
.input-row {
  clear: left;
}
/* line 338, ../../app/stylesheets/base.scss */
.input-row.for-check-box {
  padding-top: 1em;
}

/* line 343, ../../app/stylesheets/base.scss */
.small {
  display: inline;
  padding-left: 0.5em;
  font-size: 85%;
}
/* line 347, ../../app/stylesheets/base.scss */
.small a {
  color: #666;
}

/* line 352, ../../app/stylesheets/base.scss */
.page-notice {
  padding: 0.5em;
  color: #C70;
  font-weight: bold;
  background-color: #FFEEDD;
  border-radius: 5px;
  text-align: center;
}

/* feedback styling */
/* line 362, ../../app/stylesheets/base.scss */
#ue-feedback-tab {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

/* this style sheet contains all styles not necessary for Excel to import i.e. styling only for browser view */
/* line 6, ../../app/stylesheets/snapshots.scss */
#compare-snapshots {
  padding: 0.5em;
}
/* line 8, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
  -moz-box-shadow: 0px 0px 4px #666666;
  -webkit-box-shadow: 0px 0px 4px #666666;
  box-shadow: 0px 0px 4px #666666;
  border: none;
}
/* line 14, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table a {
  text-decoration: none;
  color: #CCC;
}
/* line 17, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table a:hover {
  color: white;
  text-decoration: underline;
}
/* line 22, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table h3 {
  font-size: 125%;
  margin: 2px 0 2px 0;
}
/* line 26, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header, #compare-snapshots table tr.title {
  border: none;
}
/* line 28, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td, #compare-snapshots table tr.title td {
  border: none;
}
/* line 30, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.logo-space, #compare-snapshots table tr.title td.logo-space {
  text-align: left;
  color: #FFF;
}
/* line 34, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions, #compare-snapshots table tr.title td.actions {
  text-align: right;
  color: #CCC;
}
/* line 37, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help, #compare-snapshots table tr.title td.actions a#help {
  position: relative;
}
/* line 39, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help #help-rollover, #compare-snapshots table tr.title td.actions a#help #help-rollover {
  cursor: default;
  display: none;
  position: absolute;
  background-color: black;
  width: 10em;
  padding: 1em;
  margin-left: -9em;
  text-align: left;
}
/* line 48, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help #help-rollover div.key, #compare-snapshots table tr.title td.actions a#help #help-rollover div.key {
  padding: 3px;
  overflow: hidden;
}
/* line 51, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help #help-rollover div.key span, #compare-snapshots table tr.title td.actions a#help #help-rollover div.key span {
  color: black;
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid #CCC;
  margin-right: 0.5em;
}
/* line 60, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help #help-rollover div.key span.deleted, #compare-snapshots table tr.title td.actions a#help #help-rollover div.key span.deleted {
  background-color: #FFAAAA;
}
/* line 61, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help #help-rollover div.key span.new, #compare-snapshots table tr.title td.actions a#help #help-rollover div.key span.new {
  background-color: #AAFFAA;
}
/* line 62, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help #help-rollover div.key span.changed, #compare-snapshots table tr.title td.actions a#help #help-rollover div.key span.changed {
  background-color: #FFBC4F;
}
/* line 66, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help:hover, #compare-snapshots table tr.title td.actions a#help:hover {
  text-decoration: none;
}
/* line 68, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td.actions a#help:hover #help-rollover, #compare-snapshots table tr.title td.actions a#help:hover #help-rollover {
  display: block;
}
/* line 74, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.header td .divider, #compare-snapshots table tr.title td .divider {
  color: #444;
}
/* line 79, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.title td {
  padding: 3px;
}
/* line 81, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.title td span.rate {
  display: block;
  margin-bottom: 5px;
}
/* line 85, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table tr.title td br.rate {
  display: none;
}
/* line 89, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table td {
  padding: 2px;
  border: 1px solid #DDD;
}
/* line 92, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table td:first-child {
  border-left: none;
}
/* line 95, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table td:last-child {
  border-right: none;
}
/* line 98, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table td.criteria > div {
  margin-bottom: 2px;
}
/* line 102, ../../app/stylesheets/snapshots.scss */
#compare-snapshots table th {
  padding: 2px;
  border: 1px solid #AAA;
}
