/* this style sheet contains all styles not necessary for Excel to import i.e. styling only for browser view */
/* line 2, ../../app/stylesheets/snapshots_print.scss */
#compare-snapshots {
  padding: 0;
}
/* line 4, ../../app/stylesheets/snapshots_print.scss */
#compare-snapshots table {
  background-color: white;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  border-collapse: collapse;
}
/* line 11, ../../app/stylesheets/snapshots_print.scss */
#compare-snapshots table .actions {
  display: none;
}

/* line 16, ../../app/stylesheets/snapshots_print.scss */
#ue-feedback-tab {
  display: none;
}
