/* this style sheet contains all styles not necessary for Excel to import i.e. styling only for browser view */
#compare-snapshots {
  padding: 0; }
  #compare-snapshots table {
    background-color: white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    border-collapse: collapse; }
    #compare-snapshots table .actions {
      display: none; }

#ue-feedback-tab {
  display: none; }
