$add-button-color: green;
$delete-link-color: darken(red, 20%);
$stats-bg-color: #EEE;
$backlog-horizontal-padding: 5px;

/* Column widths for story headers, used in various scaled solutions, adds to 100 */
$col-theme-width: 12%;
$col-unique-id-width: 7%;
$col-main-width: 22%; /* 3 columns of user-story, acceptance-criteria and comments */
$col-score-width: 3%;
$col-cost-width: 5%;
$col-days-width: 4%;

/* provide a method to scale up the elements within a story which is less than the whole
   for example, comments is 22% of the entire width, but stories are all contained within 88% of the entire width,
   so comments is actually say 23% of the stories container */
@mixin scaled-up-width($width, $theme-width) {
  width: $width * 100% / (100% - $theme-width);
}

@mixin table-col($width) {
  @include scaled-up-width($width, $col-theme-width); /* all story elements use up % of total width as embedded in another elem */
  float: left;
  &>div {
    margin: 0 0 1px 1px;
    padding: 2px;
    border: 1px solid rgba(0,0,0,0.15);
    border-width: 1px 0px 0px 1px;
  }
}

@mixin table-head($width) {
  background-color: #DDD;
  width: $width;
  float: left;
  margin: 0;
  &>div {
    padding: 3px 3px 1px 5px;
    border-right: 1px solid white;
  }
}

@mixin editable-field {
  &:hover {
    background-color: darken($title-area-color,7.5%);
  }
}

/* on the backlog page we need to move the header to a fixed position */
header.for-backlog {
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
  z-index: 5;
  .padded-container {
    margin-right: $ninesixty-gutter-width * 2;
  }
  /* make the top nav less in your face */
  a {
    @include opacity(0.65);
    &:hover {
      @include opacity(1);
    }
  }
}

/* hide the drop shadow on main content area for backlog as we already have a drop shadow */
section.for-backlog {
  margin-top: $ninesixty-vertical * 5;
  padding-right: 0;
  padding-left: 0;
  section.main-content-pod.showing-backlog {
    @include drop-shadow(0px, 0px);
    padding: 12px $backlog-horizontal-padding 0 $backlog-horizontal-padding;
  }
  section.title {
    display: none;
  }
}

#backlog-container {
  clear: left;
  font-size: 12px;
}

section.content .not-editable-backlog-notice {
  position: fixed;
  width: 350px;
  margin-left: -150px;
  left: 50%;
  background-color: #BBB;
  color: black;
  top: 4px;
  z-index: 10; /* appears on a header of z-index 5 */
  padding: 1px 10px 1px 10px;
  text-align: center;
  -moz-border-radius: 6px;
  border-radius: 6px;
  .message {
    display: inline;
    background: url(/images/alert-small-black.png) no-repeat left center;
    padding-left: 22px;
  }
  a {
    float: right;
    color: #000;
  }
}

.for-backlog {
  /* snapshot roll over menu */
  .snapshot-menu-container {
    position: absolute;
    background-color: #000;
    display: none;
    overflow: hidden;
    padding: 10px;
    z-index: 10; /* appears on a header of z-index 5 */
    width: 410px;
    .title {
      color: #FFF;
      font-weight: bold;
    }
    select.snapshot-selector {
      background-color: $title-area-color;
      border: 1px solid darken($title-area-color, 60%);
      font-size: 13px;
      font-family: $base-pretty-font;
      color: lighten($light-text-on-title-area-color, 20%);
    }
    .button-holder {
      margin-top: 15px;
      float: left;
      clear: left;
      width: 165px;
      a:active {
        font-weight: normal;
      }
    }
    .description {
      margin-top: 8px;
      float: left;
      width: 230px;
      color: #999;
      font-size: 11px;
      margin-left: 10px;
    }
  }
  /* when viewing a snapshot, user is given a drop down to change snapshots without having to use the menu */
  #viewing-snapshot-container {
    position: fixed;
    top: 63px;
    left: 120px;
    overflow: hidden;
    z-index: 9; /* must appear over header and drop down */
    .title {
      color: lighten($light-text-on-title-area-color, 20%);
      float: left;
    }
    .selector {
      margin-top: -2px;
      float: left;
      select {
        background-color: $title-area-color;
        border: 1px solid darken($title-area-color, 60%);
        font-size: 12px;
        font-family: $base-pretty-font;
        color: lighten($light-text-on-title-area-color, 20%);
      }
    }
  }
  /* filter roll over menu */
  .filter-container {
    position: absolute;
    background-color: #000;
    display: none;
    overflow: hidden;
    padding: 10px;
    z-index: 10; /* appears on a header of z-index 5 must be over viewing snapshot container */
    label {
      color: white;
    }
  }
}

@mixin pulse-frames {
  0% {
    @include opacity(1);
  }
  50% {
    @include opacity(1);
  }
  75% {
    @include opacity(0.1);
  }
  100% {
    @include opacity(0.1);
  }
}
@-moz-keyframes pulse {
  @include pulse-frames;
}
@-webkit-keyframes pulse {
  @include pulse-frames;
}

#presence-notifier {
  display: none;
  position: fixed;
  background-color: darken(#FFB300, 5%);
  border: 1px solid darken(#FFB300, 20%);
  border-bottom: none;
  bottom: 0;
  left: 20px;
  z-index: 15;
  padding: 6px;
  color: #FFF;
  @include border-radius(10px 10px 0 0);
  .header {
    overflow: hidden;
  }
  .icon {
    float: left;
    width: 16px;
    margin-top: 2px;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: pulse;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
  }
  .title {
    float: left;
    padding-left: 10px;
    font-weight: bold;
  }
  .ui-icon { background-image: url(/stylesheets/ui-lightness/images/ui-icons_ffffff_256x240.png); }
  .people {
    display: none;
    border-top: 1px solid darken(#FFB300, 20%);
    padding-top: 10px;
    margin-top: 10px;
    ul {
      margin-bottom: 0;
    }
  }
  &:hover {
    .people {
      display: block;
    }
  }
}

#backlog-data-area {
  position: fixed;
  top: $ninesixty-vertical * 2;
  left: 0;
  overflow: hidden;
  height: 56px;
  width: 100%;
  background-color: $title-area-color;
  z-index: 6; /* sits over header of 5 */
  .actions {
    float: right;
    overflow: hidden;
    padding: 0.1em $standard-header-padding-height*2+5px 0.1em 0;
    margin-top: 0.4em;
    width: 350px;
    a {
      display: block;
      float: left;
      color: white;
    }
    .divider {
      border-right: 1px solid lighten($title-area-color, 10%);
      height: 1.25em;
      padding-left: 1em;
      margin-right: 1em;
      margin-top: 0em;
      float: left;
    }
  }
  /* position editable input as global to avoid jumping */
  input, textarea {
    position: absolute;
  }
  .name-company-container {
    height: 30px;
    form {
      display: inline;
    }
    h2.name {
      display: inline;
      margin: 2px 0 0 $ninesixty-gutter-width - 2px;
      position: relative;
      background-color: transparent;
      padding: 0;
      height: 28px;
      font-size: 20px;
      color: #FFF;
      >div {
        padding: 2px;
        display: inline;
      }
      &.locked {
        padding-left: 25px;
        background: url(/images/lock.png) no-repeat left center;
      }
    }
    h3.company {
      display: inline;
      color: $light-text-on-title-area-color;
      font-size: 16px;
      padding-left: 0.5em;
    }
  }
  /* snap shot and filter menu item on top righ */
  .snapshot, .filter {
    padding: 6px 6px 6px 6px;
    margin: -6px;
    position: relative;
    float: left;
    &.hover {
      background-color: #000;
      a {
        text-decoration: none;
      }
    }
  }
  .filter {
    padding-left: 12px;
  }
  #backlog-settings {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 3px 6px 3px 3px;
    color: #363;
    #backlog-rate, #backlog-velocity {
      float: left;
      overflow: hidden;
    }
    #backlog-velocity {
      padding-left: 0.5em;
      border-left: 1px solid #ADA;
      margin-left: 0.5em;
    }
    .title {
      float: left;
      padding: 2px 0.25em 2px 0;
      color: #999;
    }
    .data {
      float: left;
      padding: 2px;
      &:hover {
        color: black;
      };
    }
  }
  .backlog-stats {
    background-color: lighten($title-area-color, 25%);
    float: right;
    margin: 2px $standard-header-padding-height*2 0 0;
    @include single-box-shadow(#FFFFFF, 0, 0, 3px, false, false);
    div.title {
      padding: 3px 0 5px 5px;
      float: left;
    }
    div.output {
      padding: 3px;
      float: left;
      &.highlight {
        color: red;
        background-color: rgba(255,255,255,0.5);
        margin-left: -3px;
        margin-right: -4px;
        padding: 3px 6px 3px 6px;
      }
    }
    div.divider {
      float: left;
      padding: 0 0 0 3px;
      border-right: 1px solid $title-area-color;
      height: 30px;
      width: 1px;
      margin-right: 3px;
    }
  }
}

#backlog-tabs {
  position: fixed;
  top: 63px;
  left: 5px;
  z-index: 7; /* sits over #backlog-data-area of 6 */
  #add-sprint {
    .ui-icon { background-image: url(/stylesheets/ui-lightness/images/ui-icons_ffffff_256x240.png); }
    position: absolute;
    z-index: 3;
    margin: 3px 0 0 0;
    a {
      cursor: pointer;
    }
    background-color: $title-area-color;
  }
  #protect-beneath-tabs {
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 300px;
    height: 25px;
    background-color: $title-area-color;
    z-index: 2;
  }
  > ul {
    margin-left: 22px;
  }
  li {
    cursor: pointer;
    a:hover {
      text-decoration: none
    }
    &:hover>a {
      color: white;
    }
    &.active:hover>a {
      color: inherit;
    }
  }
}

#backlog-settings-tabs {
  margin-bottom: -3px;
  margin-top: 5px;
  li {
    cursor: pointer;
    a:hover {
      text-decoration: none
    }
    &:hover>a {
      color: white;
    }
    &.active:hover>a {
      color: inherit;
    }
  }
}

/* notice showing when filtering the backlog */
.filter-notifier {
  background-color: #FFFF99;
  border: 1px solid darken(#FFFF99, 50);
  padding: 3px;
  margin: 3px auto;
  text-align: center;
  font-weight: bold;
  width: 50%;
  @include border-radius(6px 6px 6px 6px);
  display: none;
}

#themes-header {
  position: fixed;
  z-index: 5;
  top: 86px;
  left: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #DDD;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  font-size: 12px;
  @include drop-shadow(2px, 2px);
  .columns {
    margin: 0 $backlog-horizontal-padding 0 $backlog-horizontal-padding;
    .theme { @include table-head($col-theme-width); }
    .unique-id { @include table-head($col-unique-id-width); }
    .user-story, .acceptance-criteria, .comments { @include table-head($col-main-width); }
    .score-50, .score-90 { @include table-head($col-score-width); }
    .score { @include table-head($col-score-width * 2); &>div { text-align: right; } }
    .cost-formatted { @include table-head($col-cost-width); &>div { text-align: right; } }
    .days-formatted { /* $col-days-width but use auto instead to take up slack */
      background-color: #DDD;
      margin: 0;
      width: auto;
      &>div {
        text-align: right;
        padding: 3px 3px 1px 5px;
      }
    }
  }
  /* if day and cost estimates are turned off, let's scale things out as 9% more space*/
  &.no-days-or-cost .columns {
    $ratio: 100% / (100% - $col-cost-width - $col-days-width);
    .theme { width: $col-theme-width * $ratio; }
    .unique-id { width: $col-unique-id-width * $ratio; }
    .user-story, .acceptance-criteria, .comments { width: $col-main-width * $ratio }
    .score-50, .score-90 {
      width: $col-score-width * $ratio;
      >div { border-right: none; }
    }
    .score {
      width: $col-score-width * 2 * $ratio;
      >div { border-right: none; }
    }
  }
  /* if day and cost estimates are turned off, let's scale things out as 9% more space*/
  &.no-cost .columns {
    $ratio: 100% / (100% - $col-days-width);
    .theme { width: $col-theme-width * $ratio; }
    .unique-id { width: $col-unique-id-width * $ratio; }
    .user-story, .acceptance-criteria, .comments { width: $col-main-width * $ratio }
    .score-50, .score-90 { width: $col-score-width * $ratio; }
    .score { width: $col-score-width * 2 * $ratio; }
    .days-formatted {
      width: auto;
      >div { border-right: none; }
    }
  }
}

#themes-container {
  font-family: sans-serif;
  word-spacing: 0.05em;
  letter-spacing: 0;
  line-height: 1.3em;
  .loading {
    margin: 20px auto 10px auto;
    text-align: center;
    width: 80px;
    .progress-icon {
      float: left;
    }
    p {
      padding-top: 2px;
    }
  }
  overflow: hidden;
}
/* stop ordering of themes link which is outside of the ul.themes so that drag & drop reordering does not have this item as the last item */
.themes .stop-ordering {
  display: none;
  padding: 5px 0 5px 0;
  clear: left;
  a {
    @include grey-button-style;
    padding: 1px 5px 1px 5px;
    font-size: 90%;
    border-width: 1px;
    &:hover {
      text-decoration: none;
    };
  }
}

ul.themes {
  list-style: none;
  margin: 0;
  padding-bottom: 5px;

  /* styling for an empty editable field with edit text in it */
  .editable-blank {
    font-size: 80%;
    color: #DDD;
    color: rgba(0,0,0,0.2);
    &:hover {
      color: #555;
    }
  }

  /* buttons for adding theme / story */
  li.actions {
    clear: left;
    margin: 1em 0 0 0;
    padding: 3px;
    font-size: 110%;
    a {
      @include grey-button-style;
      padding: 1px 5px 1px 5px;
      font-size: 90%;
      border-width: 1px;
    }
  }

  /* re-ordering target li item */
  li.target-order-highlight {
    border: 1px dashed #333;
    margin: 5px 60% 0 0;
    background-color: #FFE;
    list-style: none;
    height: 2em;
    clear: left;
  }

  /* theme row */
  li.theme {
    /* add padding to every theme row after the first */
    &:nth-child(1n+2) {
      padding: 5px 0 0 0;
    }
    margin: 0;
    clear: left;
    overflow: hidden;

    /* this box appears when in theme re-order mode */
    .move-theme {
      display: none;
      border: 1px solid #CCC;
      background-color: #EEE;
      text-align: center;
      float: left;
      margin: 1px;
      padding: 2px;
      cursor: move;
      overflow: hidden;
      .icon {
        float: left;
      }
      .instructions {
        float: left;
        padding-top: 3px;
      }
    }
    /* theme name field */
    &>div.theme-data {
      @include table-col($col-theme-width / 100% * (100% - $col-theme-width)); /* negate the column scaling of table-col */
      margin: 2px 0 1px 0;
      &>div {
        margin-right: 0;
      }
      .name>.data {
        margin: 0px;
      }

      .code {
        color: #666;
        font-size: 80%;
        border: none;
        padding: 2px 0 0 0;
        .heading {
          float: left;
          padding: 2px 0.4em 2px 0.5em;
        }
        .data {
          float: left;
          padding: 2px;
          input, textarea {
            font-size: 95%;
          }
          &:hover {
            background-color: #CCC;
            color: black;
          }
        }
      }
      >.theme-actions {
        border: none;
        margin: 0;
        padding: 0;
        clear: left;
      }
    }

    /* generic style for moving link */
    div.move-story {
      border: none;
      margin: 0;
      padding-top: 0;
      float: left;
      a {
        cursor: move;
      }
    }

    /* generic style for deleting link */
    div.delete-theme, div.delete-story, div.duplicate-story, div.re-number-stories {
      float: left;
    }

    div.color-picker-icon {
      float: left;
      padding: 3px;
      cursor: pointer;
      a {
        width: 11px;
        height: 11px;
        background: url(/images/color-picker.png);
        display: block;
      }
    }

    .theme-stats {
      width: 100%;
      clear: left;
      overflow: hidden;
      margin: 3px 0 8px 0;
      .container {
        margin-left: $col-unique-id-width / (100% - $col-theme-width) * 100%;
        overflow: hidden;
        background-color: $stats-bg-color;
        div.title {
          padding: 5px;
          float: left;
          color: #666;
        }
        div.metrics {
          padding: 5px;
          float: right;
        }
      }
    }

    &>div.stories {
      float: left;
      width: 100% - $col-theme-width;
      ul.stories {
        list-style: none;
        margin: 0;
        li.actions {
          margin: 0 0 1em 3px;
          position: absolute;
          a.new-story {
            padding: 0 5px 0 5px;
          }
        }
        li.target-order-highlight {
          margin: 0 0 0 0;
          height: 5em;
        }
        /* story row */
        li.story {
          padding: 2px 0 5px 1px;
          overflow: hidden;
          clear: left;
          margin: 0;
          position: relative;
          .background-color-indicator {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 4px;
            left: 0px;
            margin: 2px 0 2px 0;
          }
          &>.unique-id {
            @include table-col($col-unique-id-width);
            >.data {
              margin-bottom: 0;
            }
            >.story-actions {
              border-top: none;
              margin: 0 0 0 1px;
              padding: 0 0 0 3px;
              overflow: hidden;
            }
            .sprint-story-info {
              border-top: none;
            }
            .sprint {
              padding: 5px 0 2px 5px;
              .tab {
                border: 1px solid rgba(0,0,0,0.5);
                font-size: 12px;
                padding: 1px 10px 1px 10px;
                @include border-radius(10px);
                display: inline;
                a {
                  color: rgba(0,0,0,0.75);
                  &:hover {
                    text-decoration: none;
                    color: #000;
                  }
                }
                &:hover {
                  border-color: #000;
                  background-color: rgba(0,0,0,0.05);
                }
              }
            }
            .status {
              padding: 5px 0 0 5px;
              position: relative;
              min-height: 16px;
              .tab {
                cursor: pointer;
                background-color: lighten($title-area-color, 15%);
                color: white;
                font-size: 12px;
                padding: 1px 5px 1px 5px;
                &.status-code-T, &.status-code-R, &.status-code-D {
                  padding: 1px 12px 1px 12px;
                }
                @include border-radius(10px);
                display: inline;
                a {
                  color: white;
                  &:hover {
                    text-decoration: none;
                  }
                }
                &:hover {
                  background-color: $title-area-color;
                }
                @include status-code-colors;
              }
            }
          }
          &>.user-story, &>.acceptance-criteria, &>.comments {
            @include table-col($col-main-width);
            &>div {
              margin-bottom: 0;
              &:nth-child(2),&:nth-child(3) {
                border-top: 0;
              };
            }
          }
          &>.score-50, &>.score-90, &>.score {
            @include table-col($col-score-width);
            &>div {
              min-height: 1.1em;
            }
          }
          &>.score {
            @include table-col($col-score-width * 2);
          }
          &>.cost-formatted { @include table-col($col-cost-width); text-align: right; &>div { border: none; padding: 3px; } }
          &>.days-formatted { /* $col-days-width */
            &>div {
              margin: 1px 0 1px 1px;
              padding: 3px;
            }
            text-align: right;
          }

          &>div.user-story {
            /* ensure div wraps the children */
            &>div {
              overflow: hidden;
            }
            /* as a, i want to, so i can text */
            .heading {
              float: left;
              clear: left;
              padding-right: 0.25em;
              color: rgba(0,0,0,0.65);
              font-style: italic;
            }
          }
          ul.acceptance-criteria {
            margin: 0;
            list-style: none;
            li:hover {
              .index {
                display: none;
              }
              .cross-hair-indicator {
                display: block;
              }
            }
            /* acceptance criteria row */
            li.criterion {
              margin: 0;
            }
            li.actions {
              margin-bottom: 4px;
              position: relative;
            }
            li.new-acceptance-criterion {
              margin: -2px 0 0 -2px;
            }
            .index {
              width: 1.5em;
              cursor: move;
              float: left;
              clear: left;
              display: block;
            }
            .cross-hair-indicator {
              width: 1.5em;
              cursor: move;
              float: left;
              clear: left;
              display: none;
              background: url(/images/cross-hair.png) no-repeat left center;
            }
            .data {
              clear: right;
              cursor: text;
              margin-left: 1.5em;
            }
            li.target-order-highlight {
              height: 1.5em;
            }
          }
          a.urlified {
            color: #00D;
            cursor: text;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

/* modifier for column widths if days or cost columns are missing */
/* if day and cost estimates are turned off, let's scale things out as 9% more space*/
#themes-container.no-days-or-cost li.theme {
  $ratio: 100% / (100% - $col-cost-width - $col-days-width);
  $theme-width: $col-theme-width * $ratio;
  > .theme-data { width: $theme-width; }
  > div.stories { width: 100% - $theme-width; } /* resize the entire stories container down */
  li.story {
    > .unique-id { @include scaled-up-width($col-unique-id-width * $ratio, $theme-width) }
    > .user-story, > .acceptance-criteria, > .comments { @include scaled-up-width($col-main-width * $ratio, $theme-width) }
    > .score-50, .score-90 {
      @include scaled-up-width($col-score-width * $ratio, $theme-width);
      >div { border-right: none; }
    }
    > .score {
      @include scaled-up-width($col-score-width * 2 * $ratio, $theme-width);
      >div { border-right: none; }
    }
  }
}
/* if day and cost estimates are turned off, let's scale things out as 9% more space*/
#themes-container.no-cost li.theme {
  $ratio: 100% / (100% - $col-days-width);
  $theme-width: $col-theme-width * $ratio;
  > .theme-data { width: $theme-width; }
  > div.stories { width: 100% - $theme-width; } /* resize the entire stories container down */
  li.story {
    > .unique-id { @include scaled-up-width($col-unique-id-width * $ratio, $theme-width) }
    > .user-story, > .acceptance-criteria, > .comments { @include scaled-up-width($col-main-width * $ratio, $theme-width) }
    > .score-50, .score-90 { @include scaled-up-width($col-score-width * $ratio, $theme-width) }
    > .score { @include scaled-up-width($col-score-width * 2 * $ratio, $theme-width) }
    > .days-formatted {
      width: auto;
      >div { border-right: none; }
    }
  }
}

/* link helper that is displayed when rolling over links inside a backlog */
.link-helper {
  position: absolute;
  background-color: #B2D0EF;
  z-index: 20000; /* jquery editable is 10,000 */
  border: 1px solid darken(#B2D0EF, 10%);
  @include border-radius(2px);
  font-size: 11px;
  padding: 3px;
  cursor: pointer;
  a {
    color: #00D;
  }
}

/* when viewing a snapshot don't make these fields look editable */
#backlog-container.not-editable ul.themes {
  li.theme .theme-data .code .data:hover {
    background:transparent;
    color: inherit;
  }
}

/* status drop down for stories */
#sprint-story-status-dropdown {
  z-index: 30;
  position: absolute;
  font-size: 12px;
  font-family: sans-serif;
  background-color: #CCC;
  border: 3px solid #CCC;
  border-width: 0 5px 5px 5px;
  @include border-radius(10px);
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0px 8px;
    @include status-code-colors(yes);
    @include border-radius(10px);
    &.status-code-D {
      background-image: none;
    }
  }
}

#dialog-print {
  .progress-placeholder {
    font-weight: bold;
  }
}

#dialog-new-sprint {
  .progress-placeholder {
    font-weight: bold;
    font-style: italic;
  }
  p.error {
    font-weight: bold;
    color: red;
  }
  input.error {
    border: 2px solid red;
  }
  input#duration-days, input#number-team-members, input#explicit-velocity {
    width: 5em;
  }
  table {
    margin-bottom: 0;
    td {
      vertical-align: top;
      &:first-child {
        padding-right: 0.5em;
      }
      &.space {
        padding-right: 4em;
      }
    }
    tr.heading {
      td {
        font-weight: bold;
        padding-top: 0.75em;
        padding-bottom: 0.25em;
      }
    }
    tr.question {
      td {
        font-weight: bold;
        padding-top: 1.75em;
        padding-bottom: 0.25em;
      }
    }
    tr.sub-section {
      label {
        float: left;
        font-weight: normal;
        width: 13em;
        clear: left;
        &.error {
          float: none;
          width: auto;
          clear: none;
        }
      }
      > div {
        float: left;
        margin-left: 11.1em;
      }
    }
    tr.disabled {
      color: #999;
      input {
        background-color: #EEE;
        color: #999;
      }
    }
  }
  label.selected {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    @include border-radius(4px);
    padding: 3px;
    margin: -3px;
  }
}

#dialog-create-snapshot {
  div.progress-area, div.progress-area.field_with_errors {
    margin-left: 23px;
    display: block;
  }
  input[type=text] {
    width: 15em;
  }
}

#loading-new-snapshot {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  div.background {
    z-index: 103;
  }
  .progress-icon {
    float: left;
    margin-right: 0.5em;
  }
  div.loading {
    position: absolute;
    background-color: white;
    margin: 45% 0 0 45%;
    width: 90px;
    height: 16px;
    padding: 10px;
    background-color: white;
    border: 1px solid #999;
    z-index: 105;
  }
}

#dialog-compare-snapshot {
  div.elements, div.error-message {
    margin-left: 23px;
    display: block;
  }
  div.error-message {
    color: red;
  }
  .error-alert {
    float: left;
    margin-right: 10px
  }
}

.guider {
  li {
    margin-bottom: 0;
  }
}