/* 960.gs configuration */
$ninesixty-columns: 12;
$ninesixty-gutter-width: 20px;
$ninesixty-vertical: 15px;

$link-button-color: #001F83; /* links and buttons that are styled */
$title-area-color: #4070B8; /* area beneath the black toolbar */
$light-text-on-title-area-color: #88B6EB;

$standard-header-padding-height: 6px;
$standard-header-padding: ($standard-header-padding-height - 2px) $ninesixty-gutter-width $standard-header-padding-height $ninesixty-gutter-width; /* padding for the black header area */
$standard-body-margin: (-$ninesixty-vertical) (-$ninesixty-gutter-width) $ninesixty-vertical (-$ninesixty-gutter-width);
$standard-body-padding: $ninesixty-vertical $ninesixty-gutter-width $ninesixty-vertical $ninesixty-gutter-width;

@mixin drop-shadow($offset, $size, $color: #888) {
  -moz-box-shadow: $offset $offset $size $color;
  -webkit-box-shadow: $offset $offset $size $color;
  box-shadow: $offset $offset $size $color
}

@mixin button-style {
  font-weight: normal;
  text-decoration: none;
  color: $link-button-color;
  border: 2px solid $link-button-color;
  background-color: lighten($link-button-color, 70%);
  padding: 3px 10px 3px 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  &:hover {
    color: darken($link-button-color, 10%);
    border-color: darken($link-button-color, 10%);
  };
  &:focus {
    border-width: 2px;
    margin-top: -1px;
    margin-left: -1px;
    font-weight: bold;
  }
}

@mixin grey-button-override-style {
  background-color: #FFF;
  border-color: #666;
  color: #333;
  &:hover {
    color: #000;
    border-color: #333;
  };
}

@mixin large-name-field {
  font-size: 1.3em;
  font-weight: bolder;
}

/* Colours used to indicate progress of a story when assigned to a sprint */
@mixin status-code-colors($includeHover: yes) {
  /* to do */
  &.status-code-T {
    background-color: #777;
    color: white;
    @if $includeHover == yes {
      &.hover {
        background-color: darken(#777, 20%);
      }
    }
  }
  /* in progress */
  &.status-code-P {
    background-color: #A00;
    color: white;
    @if $includeHover == yes {
      &.hover {
        background-color: darken(#A00, 15%);
      }
    }
  }
  /* ready for testing / testing */
  &.status-code-R {
    background-color: #FF8000;
    color: white;
    @if $includeHover == yes {
      &.hover {
        background-color: darken(#FF8000, 20%);
      }
    }
  }
  /* done */
  &.status-code-D {
    @if $includeHover == yes {
      background: #090 url(/images/lock-tiny-fff.png) 10px 2px no-repeat;
    } @else {
      background-color: #090;
    }
    color: white;
    span {
      margin-left: 10px;
    }
    @if $includeHover == yes {
      &.hover {
        background-color: darken(#090, 20%);
      }
    }
  }
}