<h2 class="divider">Sprints</h2>

<p>
  Once you are ready to start working on your backlog, you can create sprints and assign stories to those sprints.
<p>


<h3>First time using sprints?</h3>
<p>
  We'd recommend you read the following key tips before you start:
</p>
<ul>
  <li>Use the <b>+</b> symbol in the left hand tab to add a sprint at any stage.</li>
  <li>When viewing a sprint, simply drag the stories from the right hand side into your sprint</li>
  <li>You can also click on a story to move them quickly to the bottom of a sprint, or back to the backlog</li>
  <li>Once allocated to a sprint, you can update the status of a story and finally mark it as <span style="color: #090">Accepted</span></li>
  <li>A sprint can be marked as <span style="color: #090">Complete</span> once all stories within that sprint are <span style="color: #090">Accepted</span></li>
  <li>Completed sprints and accepted stories are no longer editable in the backlog</li>
  <li>You can change your sprint settings by clicking on the Settings button in the top right at any point</li>
</ul>

<% if (backlog.IsEditable()) { %>
  <a href="#" class="add-new-sprint button">Create new sprint</a>
<% } %>