<section class="side-panel">
  <div class="button-container">
    <a href="#" class="add-new-sprint button">Create new sprint</a>
    <div class="button-help">
      For future sprints, the Sprints tab above will no longer appear, so you must use the <b>+</b> icon next to the Backlog tab to add further sprints.
    </div>
  </div>
</section>