<h2 class="divider">Sprints</h2>

<p>
  Once you are ready to start working on your backlog, you can create sprints and assign stories to those sprints.
<p>


<h3>First time using sprints?</h3>
<p>
  We'd recommend you take a quick look at this one minute demo of how to use sprints.
</p>
<p>
  [VIDEO HERE]
</p>