- content_for :title do
  %h1 Contact Us

%p
  If you have any suggestions, feedback or are experiencing any problems,
  %a{ :onmouseover => 'UE.Popin.preload();', :href => '#', :onclick => 'UE.Popin.show(); return false;' }
    please let us know on our support forum.
%p
  If you would like to get in touch with us about anything else, do drop us a line on #{link_to 'support@easybacklog.com', 'mailto:support@easybacklog.com'}.