- content_for :title do
  %h1 Contact Us

%h2 Support and Knowledgebase
%p
  If you have any suggestions, feedback or are experiencing any problems,
  %a{ :href => 'http://easybacklog.userecho.com/' }
    please let us know on our support forum and knowledgebase.

%p
  You can view easyBacklog's uptime on the
  %a{ :href => 'http://status.easybacklog.com/548247' }
    easyBacklog service status page

%h2 Frequently Asked Questions
%p
  The questions that keep getting asked of us have been collated in our FAQs.
  %br
  =link_to 'View our frequently asked questions.', faq_path

%h2 Getting in touch
%p
  If you would like to get in touch with us about anything else, do drop us a line on #{link_to 'support@easybacklog.com', 'mailto:support@easybacklog.com'}.

%h2 Integrating with easyBacklog via our API
%p
  All users of easyBacklog have access to our #{link_to 'API service', 'http://api.easybacklog.com'}.  To find out more, visit the #{link_to 'API service description', 'http://api.easybacklog.com'} page.