- content_for :title do
  %h1
    %span.easy>="easy"
    %span Backlog
    .description : Simple backlog management

%p
  easyBacklog is a very simple to use backlog management tool aimed at teams and agencies who primarily adopt agile methodologies.
%p
  The product is currently running in open beta, so please feel free to sign up and start using the product.
%p
  We welcome your
  = link_to 'suggestions and feedback.', contact_path

.links-container
  - if user_signed_in?
    = link_to "View my dashboard", companies_path, { :class => 'button' }
  - else
    = link_to "Sign up for free", new_user_registration_path, { :class => 'button' }
    OR
    = link_to "Log in", new_user_session_path