- title 'Company'
- if @companies.blank?
  - content_for :title do
    %h1 No account exists
  %p
    You do not have access to an account yet.  If you would like to get access to an existing account, please contact the person who manages the account and request an invite for access.
  %p 
    Or alternatively you may #{link_to 'set up a new account', new_company_path} now.
- else
  - content_for :title do
    %h1 Please select an account
  %p 
    As you have access to more than one account, please select the account you wish to access.
  %ul
    - @companies.each do |company|
      %li
        = link_to company.name, company_path(company)