<div class="summary">
  <div>As a <%= model.get('as_a') %></div>
  <div>I want to <%= model.get('i_want_to') %></div>
  <div>So I can <%= model.get('so_i_can') %></div>
</div>
<div class="acceptance-criteria">
  Acceptance Criteria:
  <ul>
  </ul>
</div>
<div class="comments">
  <%= model.get('comments') %>
</div>
<div class="timings">
  <%= model.get('score_50') %> -
  <%= model.get('score_90') %>
</div>