.star-burst.medium-text
  Thanks for applying for early access!
.intro
  %p
    You are all signed up now and we'll be in touch as soon as an early access slot becomes available.
  %h2
    Want Priority Access?
  %p
    %b Guaranteed early access
    if you invite at least 3 people.  The more people you invite, the sooner you will get access ;)
  %p.offer
    Copy/paste the URL below into Twitter, Facebook or an email:
    %br/
    =link_to get_short_url, get_short_url