<%
  partial = @show_thank_you == true ? 'thank_you' : 'apply'
%>
if ($.browser.msie && $.browser.versionInt <= 8) {
  // strange browser issue in old IE versions, so keep it simple
  $('.request-access .ajax-target').html('<div class="ajax-target"><%= escape_javascript(render(:partial => partial)) %></div>').effect("highlight", {}, 1500);
} else {
  $('.request-access .ajax-target').hide("drop", { direction: "down" }, 400, function() {
    $('.request-access .ajax-target').html('<div class="ajax-target"><%= escape_javascript(render(:partial => partial)) %></div>').hide().slideDown();
  });
}