!= render :partial => 'head'

%section.content-wrapper
  %section.header
    .logo
      %h1 easyBacklog Heading 9 cols
    .links
      .container
        = link_to 'Already invited? Login', new_session_path(User)
  %section.content
    .intro
      %h2
        Thanks, all signed up, we'll be in touch.
      %h2
        Want Priority Access?
      %p
        Get early access by inviting at least 3 friends.  The more friends you invite, the sooner you will get access ;)
      %p
        Copy/paste the URL below in Twitter, Facebook or in an email:
        =link_to get_short_url, get_short_url

