#themes-header
  .columns
    .theme
      %div Theme
    .unique-id
      %div ID
    .user-story
      %div User Story
    .acceptance-criteria
      %div Acceptance Criteria
    .comments
      %div Comments
    .score-50
      %div 50
    .score-90
      %div 90
    .cost-formatted
      %div Cost
    .days-formatted
      %div Days
#themes-container
  Loading...