%table#themes-header
  %tr
    %th.theme Theme
    %th.unique-id ID
    %th.user-story User Story
    %th.acceptance-criteria Acceptance Criteria
    %th.comments Comments
    %th.score-50 50
    %th.score-90 90
    %th.cost-formatted Cost
    %th.days-formatted Days
#themes-container
  Loading...