- title 'View backlog'

%h2.backlog-name.editable= @backlog.name
=link_to 'Back to backlogs', company_path(@backlog.company)

#themes-container
  Loading...

%input{:type => 'hidden', :value => "#{company_backlog_path(@backlog.company, @backlog)}", :name => 'ajax-data-path', :id => 'ajax-data-path'}

:javascript
  App.Collections.Themes = new ThemesCollection({}, { backlog_id: #{@backlog.id} });
  App.Collections.Themes.fetch({
    success: function() {
      new App.Views.Themes.Index({ themes: App.Collections.Themes });
    },
    error: function() {
      new App.Views.Error({ message: 'The data could not be loaded from the server'});
    }
  });