%html{:xmlns => "http://www.w3.org/TR/REC-html40", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml", "xmlns:x" => "urn:schemas-microsoft-com:office:excel"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Excel.Sheet", :name => "ProgId"}
    %meta{:content => "Microsoft Excel 11", :name => "Generator"}
      /[if gte mso 9]
        <xml>
        <x:ExcelWorkbook>
        <x:ExcelWorksheets>
        <x:ExcelWorksheet>
        <x:Name>Backlog</x:Name>
        <x:WorksheetOptions>
        <x:Selected/>
        <x:FreezePanes/>
        <x:FrozenNoSplit/>
        <x:SplitHorizontal>2</x:SplitHorizontal>
        <x:TopRowBottomPane>2</x:TopRowBottomPane>
        </x:WorksheetOptions>
        </x:ExcelWorksheet>
        </x:ExcelWorksheets>
        </x:ExcelWorkbook>
        </xml>
  %body
    = render :partial => 'table_backlog', :locals => { :backlog => @backlog, :total_columns => 9 - (@backlog.use_50_90? ? 0 : 1) }