<h2 class="divider">Statistics</h2>

<p>Out of luck!  You have not completed any sprints yet, so we can't build any reports for you.  Once you have completed your first sprint we'll have some reports waiting for you.</p>

<h2>Burn down</h2>
<h2>Burn up</h2>
<h2>Velocity</h2>
<h2>Velocity mean</h2>