<div class="title"><%= I18n.t ('backlog_total') %>:</div>
<div class="output">
  <%= JST['_shared/backlog_stats']({ model: model, useDaysEstimates: useDaysEstimates, useCostEstimates: useCostEstimates }) %>
</div>