- title "#{error_message} (401 Error)"

- content_for :title do
  %h1= "#{error_message}"

%p
  Unfortunately you are not authenticated and you tried to perform an action on this website that requires authentication.

%p
  Please
  = link_to 'contact us', contact_path
  if you need any assistance.
%p
  =link_to raw('&laquo; Back home'), root_path, :class => 'button'