- title "#{error_message} (403 Error)"

- content_for :title do
  %h1= "#{error_message}"

%p
  Unfortunately we could not fulfil your request as you do not have the necessary privileges to perform this action.

%p
  Please
  = link_to 'contact us', contact_path
  if you need any assistance.
%p
  =link_to raw('&laquo; Back home'), root_path, :class => 'button'