- title '#{error_message} (406 Error)'

- content_for :title do
  %h1= "#{error_message}"

%p
  Unfortunately the format you requested is not supported.

%p
  Please
  = link_to 'contact us', contact_path
  if you need any assistance.
%p
  =link_to raw('&laquo; Back home'), root_path, :class => 'button'