#alert-space
  - if flash[:notice]
    %div.notice
      = flash[:notice]
  - if flash[:warning]
    %div.warning
      = flash[:warning]
  - if flash[:error] || flash[:alert]
    %div.error
      = flash[:error]
      = flash[:alert]