#alert-space
  - if flash[:notice]
    %div.notice
      = break_html flash[:notice]
  - if flash[:warning]
    %div.warning
      = break_html flash[:warning]
  - if flash[:error] || flash[:alert]
    %div.error
      = break_html flash[:error]
      = break_html flash[:alert]