.main-title-area
  .logo
    = link_to 'http://easybacklog.com/' do
      .icon
    = link_to 'http://easybacklog.com/' do
      easyBacklog
    %sup BETA
  .divider
  .header
    API documentation (v1)

.account-info
  %div= link_to 'Back to easyBacklog', 'http://easybacklog.com/'