!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title
      = (yield(:page_title).length > 0 ? yield(:page_title) : 'Simple backlog management') + ' : iBacklog'

    = include_javascripts :workspace
    = include_stylesheets :common, :media => 'all'
    = csrf_meta_tag

  %body