%blockquote.bubble
  %span.arrow
    %span
  We've added this great example of how people are using easyBacklog to plan their backlog, manage their sprints, and control change throughout the project.
  %br
  %br
  We recommend you take a look around this backlog before you get started with your first backlog.
