- title 'Account'
- if @accounts.blank?
  - content_for :title do
    %h1 You do not have an account
  %p
    You do not have access to an account yet.  If you would like to get access to an existing account, please contact the person who manages the account and request an invite for access.
  %p
    Or alternatively you may set up a new account below.
  %p
    = link_to 'Create an account', new_account_path, :class => 'button'
- else
  - content_for :title do
    %h1 Multiple accounts

  .accounts-index
    %h2.divider
      Select an account
    %p
      As you have access to more than one account, please select the account you wish to view.
    %ul
      - @accounts.each do |account|
        %li
          = link_to account.name, account_path(account)
          = "(#{pluralize(account.cnt, 'active backlog')})"